#Instalar o conector mysql

In [ ]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.0.0-cp310-cp310-manylinux_2_17_x86_64.whl.metadata (2.0 kB)
Downloading mysql_connector_python-9.0.0-cp310-cp310-manylinux_2_17_x86_64.whl (19.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 19.3/19.3 MB 46.4 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.0.0

#Criar o arquivo com as credenciais

In [ ]:
import mysql.connector
from mysql.connector import Error

#Definir as credenciais e informações da conexão
servidor = '35.192.98.101'
basededados = 'EmpresaDB'
usuario = 'adriano'
senha = '@nN32012'

#Criar a conexão com o Banco de Dados

In [ ]:
#Criar a conexão com a Base de Dados

def connect_to_database():
  try:
    connection = mysql.connector.connect(
        host = servidor,
        database = basededados,
        user = usuario,
        password = senha
    )
    if connection.is_connected():
      print("Conexão bem-sucedida ao banco de dados MySQL!")
      return connection
  except Error as e:
    print("Erro ao conectar ao MySQL", e)
    return None

In [ ]:
#Chamar a função de conexão
connection = connect_to_database()

Conexão bem-sucedidade ao banco de dados MySQL!

In [ ]:
#Fechar a conexão
if connection:
  connection.close()

#Listar as tabelas existentes no banco de dados

**Cursor:** O comando 'cursor = connection.cursor()' é usado em banco de dados para criar um Cursor. Um ***cursor é um objeto*** que permite a interação com banco de dados para executar consultas SQL e obter resultados. Usando com os comandos SELECT, INSERT, UPDATE, DELETE.

In [ ]:
#Consultar as tabelas
def query_tables(connection):
  try:
    cursor = connection.cursor()
    #Consultar tabelas
    tables = ["DEPARTAMENTO", "EMPREGADO", "PROJETO", "TRABALHA_EM", "HABILIDADE", "EMPREGADO_HABILIDADE"]
    for tabela in tables:
      cursor.execute(f"SHOW TABLES LIKE '{tabela}';")
      result = cursor.fetchone()
      if result:
        print(f"Tabela {tabela} existe.")
      else:
        print(f"Tabela {tabela} não encontrada.")
  except Error as e:
    print("Erro ao consultar tabelas", e)
  finally:
    cursor.close()

#Chamar a função de conexão
connection = connect_to_database()

if connection:
  #Consultar tabelas
  query_tables(connection)
  #Fechar a conexão
  # connection.close()

Conexão bem-sucedida ao banco de dados MySQL!
Tabela DEPARTAMENTO existe.
Tabela EMPREGADO existe.
Tabela PROJETO existe.
Tabela TRABALHA_EM existe.
Tabela HABILIDADE existe.
Tabela EMPREGADO_HABILIDADE existe.

In [ ]:
#Função para listar todas as tabelas (caso eu não saiba quais existem)
def list_all_tables(connection):
    try:
        cursor = connection.cursor()
        # Executa o comando SHOW TABLES para listar todas as tabelas no banco de dados
        cursor.execute("SHOW TABLES;")
        tables = cursor.fetchall()

        if tables:
            print("Tabelas no banco de dados:")
            for table in tables:
                print(table[0])  # `table[0]` contém o nome da tabela
        else:
            print("Nenhuma tabela encontrada.")

    except Error as e:
        print("Erro ao listar tabelas", e)

    finally:
        cursor.close()

# Chamar a função de conexão
connection = connect_to_database()

if connection:
    # Listar todas as tabelas
    list_all_tables(connection)
    # Fechar a conexão
    connection.close()

Conexão bem-sucedida ao banco de dados MySQL!
Tabelas no banco de dados:
CONSULTA_DADOS
DEPARTAMENTO
EMPREGADO
EMPREGADO_HABILIDADE
HABILIDADE
PROJETO
TRABALHA_EM

In [ ]:
##Função para listar todas as tabelas (caso eu não saiba quais existem) e salvar em uma lista
def get_all_tables(connection):
    try:
        cursor = connection.cursor()
        # Executa o comando SHOW TABLES para listar todas as tabelas no banco de dados
        cursor.execute("SHOW TABLES;")
        tables = cursor.fetchall()

        # Extrai os nomes das tabelas e os armazena em uma lista
        table_list = [table[0] for table in tables]

        return table_list

    except Error as e:
        print("Erro ao listar tabelas", e)
        return []

    finally:
        cursor.close()

# Chamar a função de conexão
connection = connect_to_database()

if connection:
    # Obter todas as tabelas
    all_tables = get_all_tables(connection)
    print("Tabelas encontradas:", all_tables)
    # Fechar a conexão
    connection.close()

Conexão bem-sucedida ao banco de dados MySQL!
Tabelas encontradas: ['CONSULTA_DADOS', 'DEPARTAMENTO', 'EMPREGADO', 'EMPREGADO_HABILIDADE', 'HABILIDADE', 'PROJETO', 'TRABALHA_EM']

In [ ]:
#Instalar o pandas
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

#Converter dados do Banco MySQL para DataFrame Pandas

In [ ]:
#Converter a conexão com BD em DataFrame Pandas
import pandas as pd
def fecth_data_as_dataframe(connection, query):
  try:
    cursor =connection.cursor()
    cursor.execute(query)
    data = cursor.fetchall()
    columns = [desc[0] for desc in cursor.description]
    dfpd = pd.DataFrame(data, columns=columns)
    return dfpd
  except Error as e:
    print("Erro ao consultar dados", e)
    return None
  finally:
    cursor.close()

#Chamar a conexao com o banco de dados
connection = connect_to_database()

if connection:
  #Consultar dados da tabela empregado
  # query = "SELECT * FROM CONSULTA_DADOS;"
  query = "SELECT * FROM EMPREGADO;"
  df_empregado = fecth_data_as_dataframe(connection, query)

  if df_empregado is not None:
    print("Dados da Tabela EMPREGADO:")
    # print(df_empregado.head())
    print(df_empregado)

Conexão bem-sucedida ao banco de dados MySQL!
Dados da Tabela EMPREGADO:
   matricula            nome  salario  numdepto
0          1       Ana Silva  4500.00         1
1          2     João Santos  5500.00         2
2          3  Maria Oliveira  6000.00         2
3          4    Carlos Souza  4000.00         3
4          5   Fernanda Lima  4700.00         4
5          6           Diego  7000.00         5
6          7       Dienyffer  8000.00         1

#Insert em uma Tabela do Banco de Dados

In [ ]:
#Inserindo dados na Tabela Empregado
def insert_into_empregado(connection, nome, salario, numdepto):
  try:
    cursor = connection.cursor()
    #Criar a consulta SQL de inserção
    insert_query = """
    INSERT INTO EMPREGADO(nome, salario, numdepto) VALUES (%s, %s, %s);
    """
    # Dados a serem inseridos
    dados = [nome, salario, numdepto]
    #Executar a consulta SQL
    cursor.execute(insert_query, dados)
    #Confirmar a Transação
    connection.commit()
    print("Dados Inseridos com sucesso!")
  except Error as e:
    print("Erro ao inserir dados", e)
    #Faz o rollback em caso de erro
    connection.rollback()
  finally:
    cursor.close()

# Chamar a função de conexão
connection = connect_to_database()

if connection:
  #Inserir dados na tabela Empregado
  insert_into_empregado(connection, 'Dienyffer', 8000, 1)
  # Fechar a conexão
  connection.close()

Conexão bem-sucedida ao banco de dados MySQL!
Dados Inseridos com sucesso!

In [ ]:
#Inserindo dados na Tabela Empregado
def insert_into_departamento(connection, nome):
  try:
    cursor = connection.cursor()
    #Criar a consulta SQL de inserção
    insert_query = """
    INSERT INTO DEPARTAMENTO(nome) VALUES (%s);
    """
    # Dados a serem inseridos
    dados = [nome]
    #Executar a consulta SQL
    cursor.execute(insert_query, dados)
    #Confirmar a Transação
    connection.commit()
    print("Dados Inseridos com sucesso!")
  except Error as e:
    print("Erro ao inserir dados", e)
    #Faz o rollback em caso de erro
    connection.rollback()
  finally:
    cursor.close()

# Chamar a função de conexão
connection = connect_to_database()

if connection:
  #Inserir dados na tabela Departamento
  insert_into_departamento(connection, 'TI')
  # Fechar a conexão
  connection.close()

Conexão bem-sucedida ao banco de dados MySQL!
Dados Inseridos com sucesso!

#UPDATE em uma Tabela do Banco de Dados

In [ ]:
#ATUALIZANDO TABELA EMPREGADO
def update_empregado(connection, matricula, nome=None, salario=None, numdepto=None):
  try:
    cursor = connection.cursor()
    update_query = "UPDATE EMPREGADO SET "
    updates = [] #Lista Vazia
    dados = [] # Lista Vazia

    if nome:
      updates.append("nome = %s")
      dados.append(nome)
    if salario:
      updates.append("salario = %s")
      dados.append(salario)
    if numdepto:
      updates.append("numdepto = %s")
      dados.append(numdepto)
# JOIN
    update_query += ", ".join(updates)
    update_query += " WHERE matricula = %s"
    dados.append(matricula)
# UPDATE EMPREGADO SET NOME = %s, SALARIO=%s, NUMDEPTO=%s WHERE MATRICULA = %s

    cursor.execute(update_query, tuple(dados))
    connection.commit()
    print("Dados atualizados com sucesso!")
  except Error as e:
    print("Erro ao atualizar dados", e)
    connection.rollback()
  finally:
    cursor.close()


# Chamar a função de conexão
connection = connect_to_database()

if connection:
#Atualizar os dados na tabela empregado
  update_empregado(connection, matricula=7, nome='Dienyffer Cardoso', salario=8500)
# UPDATE EMPREGADO SET NOME = 'Dienyffer Cardoso', SALARIO=8500 WHERE MATRICULA = 7

Conexão bem-sucedida ao banco de dados MySQL!
Dados atualizados com sucesso!

#DELETE em uma Tabela do Banco de Dados

In [ ]:
def delete_from_empregado(connection, matricula):
    try:
        cursor = connection.cursor()
        delete_query = "DELETE FROM EMPREGADO WHERE matricula = %s"
        cursor.execute(delete_query, (matricula,))
        connection.commit()
        print("Dados deletados com sucesso!")
    except Error as e:
        print("Erro ao deletar dados", e)
        connection.rollback()
    finally:
        cursor.close()

# Chamar a função de conexão
connection = connect_to_database()

if connection:
#Deletar dados na tabela empregado
  delete_from_empregado(connection, matricula=1)

Conexão bem-sucedida ao banco de dados MySQL!
Erro ao deletar dados 1451 (23000): Cannot delete or update a parent row: a foreign key constraint fails (`EmpresaDB`.`EMPREGADO_HABILIDADE`, CONSTRAINT `EMPREGADO_HAB_FK` FOREIGN KEY (`matricula`) REFERENCES `EMPREGADO` (`matricula`))

In [ ]:
def delete_from_empregado(connection, matricula):
    try:
        cursor = connection.cursor()

        # Deletar primeiro as linhas na tabela dependente
        delete_dependentes_query = "DELETE FROM EMPREGADO_HABILIDADE WHERE matricula = %s"
        cursor.execute(delete_dependentes_query, (matricula,))

        # Deletar primeiro as linhas na tabela dependente
        delete_dependentes_query2 = "DELETE FROM TRABALHA_EM WHERE matricula = %s"
        cursor.execute(delete_dependentes_query2, (matricula,))

        # Deletar a linha na tabela EMPREGADO
        delete_query = "DELETE FROM EMPREGADO WHERE matricula = %s"
        cursor.execute(delete_query, (matricula,))

        connection.commit()
        print("Dados deletados com sucesso!")
    except Error as e:
        print("Erro ao deletar dados", e)
        connection.rollback()
    finally:
        cursor.close()

# Chamar a função de conexão
connection = connect_to_database()

if connection:
#Deletar dados na tabela empregado
  delete_from_empregado(connection, matricula=1)

Conexão bem-sucedida ao banco de dados MySQL!
Dados deletados com sucesso!

#SELECT em uma Tabela do Banco de Dados

In [ ]:
def select_empregado(connection, matricula):
    try:
        cursor = connection.cursor()
        select_query = "SELECT * FROM EMPREGADO WHERE matricula = %s"
        cursor.execute(select_query, (matricula,))
        result = cursor.fetchone()
        if result:
            print("Dados do empregado:", result)
        else:
            print("Empregado não encontrado.")
    except Error as e:
        print("Erro ao buscar dados", e)
    finally:
        cursor.close()

# Chamar a função de conexão
connection = connect_to_database()

if connection:
  select_empregado(connection, matricula=8)

Conexão bem-sucedida ao banco de dados MySQL!
Dados do empregado: (8, 'Dienyffer', Decimal('8000.00'), 1)

#Código completo

In [ ]:
import mysql.connector
from mysql.connector import Error

#Definir as credenciais e informações da conexão
servidor = '35.192.98.101'
basededados = 'EmpresaDB'
usuario = 'adriano'
senha = 'senha'

#Conexao com banco de dados
def connect_to_database():
    try:
        connection = mysql.connector.connect(
            host=servidor,
            database=basededados,
            user=usuario,
            password=senha
        )
        if connection.is_connected():
            print("Conectado ao banco de dados")
            return connection
    except Error as e:
        print("Erro ao conectar ao banco de dados", e)
        return None

def insert_into_empregado(connection, nome, salario, numdepto):
    try:
        cursor = connection.cursor()
        insert_query = """
        INSERT INTO EMPREGADO(nome, salario, numdepto) VALUES (%s, %s, %s);
        """
        dados = (nome, salario, numdepto)
        cursor.execute(insert_query, dados)
        connection.commit()
        print("Dados inseridos com sucesso!")
    except Error as e:
        print("Erro ao inserir dados", e)
        connection.rollback()
    finally:
        cursor.close()

def update_empregado(connection, matricula, nome=None, salario=None, numdepto=None):
    try:
        cursor = connection.cursor()
        update_query = "UPDATE EMPREGADO SET "
        updates = []
        dados = []

        if nome:
            updates.append("nome = %s")
            dados.append(nome)
        if salario:
            updates.append("salario = %s")
            dados.append(salario)
        if numdepto:
            updates.append("numdepto = %s")
            dados.append(numdepto)

        update_query += ", ".join(updates)
        update_query += " WHERE matricula = %s"
        dados.append(matricula)

        cursor.execute(update_query, tuple(dados))
        connection.commit()
        print("Dados atualizados com sucesso!")
    except Error as e:
        print("Erro ao atualizar dados", e)
        connection.rollback()
    finally:
        cursor.close()

def delete_from_empregado(connection, matricula):
    try:
        cursor = connection.cursor()
        delete_query = "DELETE FROM EMPREGADO WHERE matricula = %s"
        cursor.execute(delete_query, (matricula,))
        connection.commit()
        print("Dados deletados com sucesso!")
    except Error as e:
        print("Erro ao deletar dados", e)
        connection.rollback()
    finally:
        cursor.close()

def select_empregado(connection, matricula):
    try:
        cursor = connection.cursor()
        select_query = "SELECT * FROM EMPREGADO WHERE matricula = %s"
        cursor.execute(select_query, (matricula,))
        result = cursor.fetchone()
        if result:
            print("Dados do empregado:", result)
        else:
            print("Empregado não encontrado.")
    except Error as e:
        print("Erro ao buscar dados", e)
    finally:
        cursor.close()

# Chamar a função de conexão
connection = connect_to_database()

if connection:
    # Inserir dados na tabela Empregado
    insert_into_empregado(connection, 'Dienyffer', 8000, 1)

    # Atualizar dados na tabela Empregado
    update_empregado(connection, matricula=8, nome='Dienyffer Cardoso', salario=8500)

    # Selecionar dados na tabela Empregado
    select_empregado(connection, matricula=1)

    # Deletar dados na tabela Empregado
    delete_from_empregado(connection, matricula=1)

    # Fechar a conexão
    connection.close()

Conectado ao banco de dados
Dados inseridos com sucesso!
Dados atualizados com sucesso!
Empregado não encontrado.
Dados deletados com sucesso!

#Automação do Banco de Dados

**Trigger:** é um mecanismo em um banco de dados relacional que permite a execução automática de uma ação específica (como uma função) em resposta a certos eventos em uma tabela. Esses eventos podem ser operações como ***INSERT***, ***UPDATE***, ou ***DELETE***. Um trigger é associado a uma tabela ou visão, e ele é ativado quando o evento definido ocorre.

**Function:** Uma function (ou função) no contexto de um banco de dados é um bloco de ***código reutilizável*** que pode executar uma série de comandos SQL. Ela pode receber parâmetros de entrada e retornar resultados, como uma consulta ou um valor específico. Funções são úteis para encapsular lógica complexa e garantir reutilização em várias partes de um sistema.

**Trigger Function:**  é um tipo especial de função que é executada automaticamente como parte de um trigger. Ao contrário das funções normais, uma trigger function não pode ser chamada diretamente pelo usuário. Ela é chamada quando o evento especificado no trigger ocorre. Em PostgreSQL, uma trigger function é criada com a palavra-chave RETURNS TRIGGER e deve retornar o valor especial NEW ou OLD, dependendo do tipo de operação.

##Criação de uma tabela de Logs

In [ ]:
CREATE TABLE IF NOT EXISTS EMPREGADO_LOG (
    log_id INT AUTO_INCREMENT PRIMARY KEY,
    operacao VARCHAR(10),
    matricula INT,
    nome VARCHAR(70),
    salario DECIMAL(10, 2),
    numdepto INT,
    usuario VARCHAR(255),
    data_hora TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

##Criação do Trigger

In [ ]:
CREATE TRIGGER trg_empregado_insert
AFTER INSERT ON EMPREGADO
FOR EACH ROW
BEGIN
    INSERT INTO EMPREGADO_LOG (operacao, matricula, nome, salario, numdepto, usuario, data_hora)
    VALUES ('INSERT', NEW.matricula, NEW.nome, NEW.salario, NEW.numdepto, CURRENT_USER(), NOW());
END;


select * from EMPREGADO_LOG
select * from EMPREGADO

--inserindo novo empregado na tabela empregado
INSERT INTO EMPREGADO (NOME, SALARIO, NUMDEPTO) VALUES
('Adriano Gomes', 1412, 2)

In [ ]:
-- TRIGGER UPDATE

CREATE TRIGGER trg_empregado_update
AFTER UPDATE ON EMPREGADO
FOR EACH ROW
BEGIN
    INSERT INTO EMPREGADO_LOG (operacao, matricula, nome, salario, numdepto, usuario, data_hora)
    VALUES ('UPDATE', NEW.matricula, NEW.nome, NEW.salario, NEW.numdepto, CURRENT_USER(), NOW());
END;

-- atualizando salario do empregado Adriano
UPDATE EMPREGADO SET SALARIO = 17000 WHERE MATRICULA=11

In [ ]:
#TRIGGER DELETE

CREATE TRIGGER trg_empregado_delete
AFTER DELETE ON EMPREGADO
FOR EACH ROW
BEGIN
    INSERT INTO EMPREGADO_LOG (operacao, matricula, nome, salario, numdepto, usuario, data_hora)
    VALUES ('DELETE', OLD.matricula, OLD.nome, OLD.salario, OLD.numdepto, CURRENT_USER(), NOW());
END;


-- EXCLUINDO EMPREGADO (Dienyffer) MATRICULAS 9 E 10
DELETE FROM EMPREGADO WHERE MATRICULA = 9 OR MATRICULA = 10

#NOVA TABELA

In [ ]:
CREATE TABLE IF NOT EXISTS EMPREGADO_UPDATE_LOG (
    log_id INT AUTO_INCREMENT PRIMARY KEY,
    matricula INT,
    old_nome VARCHAR(70),
    new_nome VARCHAR(70),
    old_salario DECIMAL(10, 2),
    new_salario DECIMAL(10, 2),
    old_numdepto INT,
    new_numdepto INT,
    usuario VARCHAR(255),
    data_hora TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

In [ ]:
-- CRIAR UM PROCEDIMENTO ARMAZENADO PARA INSERT E DELETE

CREATE PROCEDURE log_empregado (
    IN operacao VARCHAR(10),
    IN emp_matricula INT,
    IN emp_nome VARCHAR(70),
    IN emp_salario DECIMAL(10, 2),
    IN emp_numdepto INT
)
BEGIN
    INSERT INTO EMPREGADO_LOG (operacao, matricula, nome, salario, numdepto, usuario, data_hora)
    VALUES (operacao, emp_matricula, emp_nome, emp_salario, emp_numdepto, CURRENT_USER(), NOW());
END;

In [ ]:
-- CRIAÇÃO DE PROCEDIMENTO ARMAZENADO PARA UPDATE

CREATE PROCEDURE log_empregado_update (
    IN emp_matricula INT,
    IN old_nome VARCHAR(70),
    IN new_nome VARCHAR(70),
    IN old_salario DECIMAL(10, 2),
    IN new_salario DECIMAL(10, 2),
    IN old_numdepto INT,
    IN new_numdepto INT
)
BEGIN
    INSERT INTO EMPREGADO_UPDATE_LOG (matricula, old_nome, new_nome, old_salario, new_salario, old_numdepto, new_numdepto, usuario, data_hora)
    VALUES (emp_matricula, old_nome, new_nome, old_salario, new_salario, old_numdepto, new_numdepto, CURRENT_USER(), NOW());
END;

In [ ]:
CREATE TRIGGER trg_empregado_insert2
AFTER INSERT ON EMPREGADO
FOR EACH ROW
BEGIN
    CALL log_empregado('INSERT', NEW.matricula, NEW.nome, NEW.salario, NEW.numdepto);
END;

In [ ]:
CREATE TRIGGER trg_empregado_delete2
AFTER DELETE ON EMPREGADO
FOR EACH ROW
BEGIN
    CALL log_empregado('DELETE', OLD.matricula, OLD.nome, OLD.salario, OLD.numdepto);
END;

In [ ]:
CREATE TRIGGER trg_empregado_update2
AFTER UPDATE ON EMPREGADO
FOR EACH ROW
BEGIN
    CALL log_empregado_update(
        NEW.matricula,
        OLD.nome, NEW.nome,
        OLD.salario, NEW.salario,
        OLD.numdepto, NEW.numdepto
    );
END;