# **Exercício 03 - Pandas**

### 1 - Crie um DataFrame com as colunas nome, idade, altura, peso e sexo usando listas.
### 2 - Exiba o DataFrame criado.

In [1]:
import pandas as pd

# Dados para o DataFrame
nomes = ["Victoria", "Eduardo", "Matheus", "Samara", "Fernanda"]
idades = [32, 30, 66, 29, 29]
alturas = [1.69, 1.80, 1.75, 1.60, 1.65]
pesos = [95, 90, 70, 60, 55]
sexos = ["F", "M", "M", "F", "F"]

# Criação do DataFrame
df = pd.DataFrame({
    "Nome": nomes,
    "Idade": idades,
    "Altura": alturas,
    "Peso": pesos,
    "Sexo": sexos })

# Exibir o DataFrame
print(df)

       Nome  Idade  Altura  Peso Sexo
0  Victoria     32    1.69    95    F
1   Eduardo     30    1.80    90    M
2   Matheus     66    1.75    70    M
3    Samara     29    1.60    60    F
4  Fernanda     29    1.65    55    F

### 3 - Selecione e exiba a coluna "idade" do DataFrame.

In [2]:
print(df["Idade"]) # Seleção e exibição da coluna "Idade"

0    32
1    30
2    66
3    29
4    29
Name: Idade, dtype: int64

### 4 - Selecione e exiba a linha com índice 2 do DataFrame.
### 5 - Selecione e exiba a linha com rótulo 2 do DataFrame.

In [3]:
linha_indice_2 = df.iloc[2] # Seleção e exibição da linha com índice 2
print("Linha com índice 2:")
print(linha_indice_2)


linha_rotulo_2 = df.loc[2] # Seleção e exibição da linha com rótulo 2
print("\nLinha com rótulo 2:")
print(linha_rotulo_2)

Linha com índice 2:
Nome      Matheus
Idade          66
Altura       1.75
Peso           70
Sexo            M
Name: 2, dtype: object

Linha com rótulo 2:
Nome      Matheus
Idade          66
Altura       1.75
Peso           70
Sexo            M
Name: 2, dtype: object

### 6 - Selecione e exiba o valor da célula na linha de rótulo 3, coluna "altura".

In [4]:
valor_altura = df.loc[3, "Altura"] # Seleção e exibição do valor da célula na linha de rótulo 3, coluna "Altura"
print("Valor na linha de rótulo 3, coluna 'Altura':", valor_altura)

Valor na linha de rótulo 3, coluna 'Altura': 1.6

### 7 - Renomeie as colunas "sexo" para "genero" e "peso" para "massa".

In [5]:
df.rename(columns={"Sexo": "Gênero", "Peso": "Massa"}, inplace=True) # Renomear as colunas "sexo" para "gênero" e "peso" para "massa"
print(df) # Exibir após a renomeação

       Nome  Idade  Altura  Massa Gênero
0  Victoria     32    1.69     95      F
1   Eduardo     30    1.80     90      M
2   Matheus     66    1.75     70      M
3    Samara     29    1.60     60      F
4  Fernanda     29    1.65     55      F

### 8 - Selecione e exiba as colunas "nome" e "altura" do DataFrame.

In [6]:
df_selecionado = df[["Nome", "Altura"]] # Seleção e exibição das colunas "Nome" e "Altura"
print(df_selecionado)

       Nome  Altura
0  Victoria    1.69
1   Eduardo    1.80
2   Matheus    1.75
3    Samara    1.60
4  Fernanda    1.65

### 9 - Filtre e exiba todas as linhas onde a idade é maior que 40.

In [7]:

df_filtrado = df[df["Idade"] > 40] # Filtrar e exibir linhas onde a idade é maior que 40
print(df_filtrado)

      Nome  Idade  Altura  Massa Gênero
2  Matheus     66    1.75     70      M

### 10 - Adicione uma nova coluna chamada "IMC" ao DataFrame, calculando o Índice de Massa Corporal.

In [8]:
# df["IMC"] = df["Peso"] / (df["Altura"] ** 2)# DEU ERRO !!! POR QUE MUDOU O NOME DA COLUNA. 

df["IMC"] = df["Massa"] / (df["Altura"] ** 2) # Adicionar uma nova coluna "IMC" ao DataFrame
print(df)

       Nome  Idade  Altura  Massa Gênero        IMC
0  Victoria     32    1.69     95      F  33.262141
1   Eduardo     30    1.80     90      M  27.777778
2   Matheus     66    1.75     70      M  22.857143
3    Samara     29    1.60     60      F  23.437500
4  Fernanda     29    1.65     55      F  20.202020

### 11 - Ordene o DataFrame pela coluna "altura" em ordem crescente.

In [9]:
df_ordenado = df.sort_values(by="Altura", ascending=True) # Ordenar o DataFrame pela coluna "Altura" em ordem crescente
print(df_ordenado)

       Nome  Idade  Altura  Massa Gênero        IMC
3    Samara     29    1.60     60      F  23.437500
4  Fernanda     29    1.65     55      F  20.202020
0  Victoria     32    1.69     95      F  33.262141
2   Matheus     66    1.75     70      M  22.857143
1   Eduardo     30    1.80     90      M  27.777778

### 12 - Filtre e exiba todas as linhas onde a altura é  maior que 1.65.

In [10]:
df_filtrado = df[df["Altura"] > 1.65] # Filtrar e exibir linhas onde a altura é maior que 1.65
print(df_filtrado)

       Nome  Idade  Altura  Massa Gênero        IMC
0  Victoria     32    1.69     95      F  33.262141
1   Eduardo     30    1.80     90      M  27.777778
2   Matheus     66    1.75     70      M  22.857143

### 13 - Modifique a altura de alguém para 1.91 e exiba o DataFrame.

In [11]:
df.loc[df["Nome"] == "Eduardo", "Altura"] = 1.91 # Modificar a altura 
print(df)

       Nome  Idade  Altura  Massa Gênero        IMC
0  Victoria     32    1.69     95      F  33.262141
1   Eduardo     30    1.91     90      M  27.777778
2   Matheus     66    1.75     70      M  22.857143
3    Samara     29    1.60     60      F  23.437500
4  Fernanda     29    1.65     55      F  20.202020

### 14 - Crie uma coluna com valores de CPF para cada linha

In [12]:
cpfs = ["123.456.789-00", "234.567.890-11", "345.678.901-22", "456.789.012-33", "567.890.123-44"] # Lista de CPFs correspondentes
df["CPF"] = cpfs # Adicionar a nova coluna CPF ao DataFrame
print(df)

       Nome  Idade  Altura  Massa Gênero        IMC             CPF
0  Victoria     32    1.69     95      F  33.262141  123.456.789-00
1   Eduardo     30    1.91     90      M  27.777778  234.567.890-11
2   Matheus     66    1.75     70      M  22.857143  345.678.901-22
3    Samara     29    1.60     60      F  23.437500  456.789.012-33
4  Fernanda     29    1.65     55      F  20.202020  567.890.123-44

### 15 - Exclua a coluna CPF do DataFrame.

In [13]:
df = df.drop(columns=["CPF"]) # Excluir a coluna "CPF" do DataFrame
print(df)

       Nome  Idade  Altura  Massa Gênero        IMC
0  Victoria     32    1.69     95      F  33.262141
1   Eduardo     30    1.91     90      M  27.777778
2   Matheus     66    1.75     70      M  22.857143
3    Samara     29    1.60     60      F  23.437500
4  Fernanda     29    1.65     55      F  20.202020

### 16 - Resete o índice do DataFrame e exiba o resultado.

In [14]:
df_resetado = df.reset_index(drop=True) # Resetar o índice do DataFrame
print(df_resetado)

       Nome  Idade  Altura  Massa Gênero        IMC
0  Victoria     32    1.69     95      F  33.262141
1   Eduardo     30    1.91     90      M  27.777778
2   Matheus     66    1.75     70      M  22.857143
3    Samara     29    1.60     60      F  23.437500
4  Fernanda     29    1.65     55      F  20.202020

### 17 - Exiba as linhas do DataFrame onde a altura é maior que 1.70.

In [15]:
dfmaior_170 = df[df["Altura"] > 1.70] # Filtragem para altura maior que 1.70
print(dfmaior_170)

      Nome  Idade  Altura  Massa Gênero        IMC
1  Eduardo     30    1.91     90      M  27.777778
2  Matheus     66    1.75     70      M  22.857143

### 18 - Selecione e exiba as colunas "nome" e "genero".

In [16]:
df_ = df[["Nome", "Gênero"]] # Selecionar e exibir as colunas
print(df_)

       Nome Gênero
0  Victoria      F
1   Eduardo      M
2   Matheus      M
3    Samara      F
4  Fernanda      F

### 19 - Calcule e exiba a soma das idades.

In [17]:
somaid = df["Idade"].sum() # Calcular e exibir a soma das idades

print("A soma das idades é:", somaid)

A soma das idades é: 186

### 20 - Salve o DataFrame em um arquivo CSV.

In [18]:
# Salvar o DataFrame em um arquivo CSV
df.to_csv('Exercícios03.csv', index=False)