## Criando as tabelas

**Preechendo as Tabelas**
https://www.mockaroo.com/

In [ ]:
## criando as tabelas base
CREATE TABLE Equipamento (
  cod_equipamento INT AUTO_INCREMENT PRIMARY KEY,
  nm_equipamento VARCHAR(50),
  valor DECIMAL(10, 2),
  quantidade INT,
  tipo VARCHAR(50)
);

## criando as tabelas base
CREATE TABLE Professor (
  cod_professor INT AUTO_INCREMENT PRIMARY KEY,
  nm_professor VARCHAR(80),
  telefone VARCHAR(12), -- Coloquei 12 porque depende da máscara do site, pode ter caracteres como (), -
  cod_curso INT,
  salario DECIMAL(10, 2)
);

## criando as tabelas base
CREATE TABLE Sala (
  cod_sala INT AUTO_INCREMENT PRIMARY KEY,
  nome_sala VARCHAR(50)
);

## criando as tabelas base
CREATE TABLE Curso (
  cod_curso INT AUTO_INCREMENT PRIMARY KEY,
  nome_curso VARCHAR(50)
);

## criando as tabelas com as FK
CREATE TABLE Reserva (
  cod_equipamento INT,
  cod_professor INT,
  dt_reserva DATE,
  horario VARCHAR(5),
  cod_sala INT,
# criar uma chave primaria composta por 3 chaves estrangeiras
  CONSTRAINT reserva_pkey PRIMARY KEY (cod_equipamento, cod_professor, dt_reserva),
# CHAVES ESTRANGEIRAS
  CONSTRAINT reserva_fkey1 FOREIGN KEY (cod_equipamento) REFERENCES Equipamento(cod_equipamento),
  CONSTRAINT reserva_fkey2 FOREIGN KEY (cod_professor) REFERENCES Professor(cod_professor),
  CONSTRAINT reserva_fkey3 FOREIGN KEY (cod_sala) REFERENCES Sala(cod_sala)
);

In [ ]:
INSERT INTO Equipamento (nm_equipamento, valor, quantidade, tipo)
VALUES
    ('Quadro', 831.00, 1071, 'Sala de Aula'),
    ('Caneta', 678.22, 1079, 'Escritorio e Sala de Aula'),
    ('Caderno', 143.72, 362, 'Sala de Aula'),
    ('Quadro', 829.62, 1009, 'Sala de Aula'),
    ('Mesa', 477.64, 508, 'Escritorio');

In [ ]:
INSERT INTO Professor (nm_professor, telefone, cod_curso, salario)
VALUES
  ('Maria Souza', '11912345678', 101, 5000.50),  -- Exemplo com telefone sem caracteres adicionais
  ('João Silva', '21987654321', 102, 4500.75),
  ('Ana Costa', '31923456789', 103, 5200.00),
  ('Pedro Lima', '41998765432', 104, 4700.25),
  ('Lucia Mendes', '51911234567', 105, 4800.90);

In [ ]:
INSERT INTO Sala (nome_sala) VALUES
  ('Sala 504'),
  ('Sala 202'),
  ('Sala 1403'),
  ('Sala 1504'),
  ('Sala 105');

In [ ]:
INSERT INTO Curso (nome_curso) VALUES
  ('Matemática'),
  ('História'),
  ('Química'),
  ('Física'),
  ('Biologia');

In [ ]:
INSERT INTO Reserva (cod_equipamento, cod_professor, dt_reserva, horario, cod_sala)
VALUES
(1, 1, '2024-09-01', '09:00', 1),
(2, 2, '2024-09-02', '10:00', 2),
(1, 2, '2024-09-03', '11:00', 2),
(3, 1, '2024-09-04', '14:00', 1),
(4, 2, '2024-09-05', '15:00', 2);

In [ ]:
-- Verificar se a tabela Reserva existe
SHOW TABLES;

-- Verificar a definição completa da tabela Reserva
SHOW CREATE TABLE Reserva;

-- Verificar a estrutura da tabela Reserva
DESCRIBE Reserva;

-- Verificar as tabelas referenciadas
DESCRIBE Equipamento;
DESCRIBE Professor;
DESCRIBE Sala;