A atividade é sobre uma base de dados que já utilizamos em projetos anteriores com outras ferramentas e tecnologias.
A base encontra-se já disponível anteriormente sobre funcionários, e a atividade é a seguinte:

ok 1 - Baixe a base em sua máquina no formato .csv;<p> 
ok 2 - Abra um novo colab e crie uma nova seção PySpark;<p> 
ok 3 - Suba a base da máquina para seu ambiente Pyspark no Colab;<p> 
ok 4 - Elabore Análises com filtros e agrupamentos aprendidos em PySpark na aula de ontem;<p> 
ok 5 - Cada filtro ou agrupamento que você realizar deve estar acompanhado (no bloco de código do respectivo colab) de um comentário sobre qual  pergunta essas dados filtrados ou agrupados tentam responder sobre essa base;<p>
6 - Cada filtro ou agrupamento deverá ser salvo em um objeto PySpark e depois convertido em um objeto Pandas, ao longo
do dia você deverá realizar no mínimo 20 tabelas resultantes dessas análises;<p>
7 - Após isso, as tabelas pandas deverão ser enviadas diretamente do colab para arquivos csv.<p>
8 - O formato de entrega é o próprio link, ou arquivo ypynb do colab

# 1. 2. 3.

**Dados de casos extraconjugais da Fair** - https://www.kaggle.com/datasets/utkarshx27/fairs-extramarital-affairs-data

Infidelidade e satisfação conjugal: dados da pesquisa Fair's Affairs

# Importação da biblioteca pandas e instalação

In [28]:
! pip install pyspark

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pyspark in c:\users\victoria\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (3.5.2)
Requirement already satisfied: py4j==0.10.9.7 in c:\users\victoria\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pyspark) (0.10.9.7)

In [29]:
! pip install findspark

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: findspark in c:\users\victoria\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (2.0.1)

In [30]:
import findspark
import pyspark
import pandas as pd

In [31]:
from pyspark.sql.functions import *
from pyspark.sql.functions import col

In [32]:
import findspark
findspark.init()

from pyspark.sql import SparkSession

# Criar uma sessão Spark
spark = SparkSession.builder \
    .appName("Exemplo PySpark") \
    .getOrCreate()

# Verificar se a sessão foi criada corretamente
print(spark)

# Carregar o arquivo CSV em um DataFrame
arquivo = r"C:\Users\victoria\Documents\MeusProjetos- GIT\SoulCode\Bootcamp - ANALISE DE DADOS\Base de Dados-Affairs.csv"
df_affairspk = spark\
        .read.format("csv")\
        .option("inferSchema", "True")\
        .option("header", "True")\
        .csv(arquivo)

<pyspark.sql.session.SparkSession object at 0x000002F645CEE6F0>

# 4. 5. (Que os jogos comecem )

In [33]:
# 0. Mostrar o DataFrame
df_affairspk.show()

+---+-------+------+----+---------------+--------+--------------------+--------------------+--------------------+-----------+
|_c0|affairs|gender| age|   yearsmarried|children|       religiousness|           education|          occupation|     rating|
+---+-------+------+----+---------------+--------+--------------------+--------------------+--------------------+-----------+
|  4|      0|  male|37.0|    9 à 11 anos|      no|ligeramente relig...|            Mestrado|Trabalhadores em ...|      feliz|
|  5|      0|female|27.0|     3 à 5 anos|      no|     pouco religioso|ensino superior i...|Trabalhadores de ...|      feliz|
| 11|      0|female|32.0|12 ou mais anos|     yes|       anti-religião|        ensino médio|Profissionais e l...|      feliz|
| 16|      0|  male|57.0|12 ou mais anos|     yes|     muito religioso|            Mestrado|Trabalhadores de ...|muito feliz|
| 23|      0|  male|22.0|6 meses à 1 ano|      no|      nada religioso|       Pós-graduação|Trabalhadores de ...|  imparcial|
| 29|      0|female|32.0|     1 à 2 anos|      no|      nada religioso|       Pós-graduação|Funcionários admi...|muito feliz|
| 44|      0|female|22.0|6 meses à 1 ano|      no|      nada religioso|        ensino médio|Profissionais e l...|  imparcial|
| 45|      0|  male|57.0|12 ou mais anos|     yes|      nada religioso|ensino superior i...|Supervisores e té...|      feliz|
| 47|      0|female|32.0|12 ou mais anos|     yes|     pouco religioso|      nível superior|Profissionais e l...|    infeliz|
| 49|      0|  male|22.0|     1 à 2 anos|      no|     pouco religioso|ensino superior i...|Supervisores e té...|muito feliz|
| 50|      0|  male|37.0|12 ou mais anos|     yes|      nada religioso|Doutorado, Mestra...|Trabalhadores em ...|    infeliz|
| 55|      0|  male|27.0|     3 à 5 anos|     yes|     pouco religioso|            Mestrado|Trabalhadores de ...|      feliz|
| 64|      0|  male|47.0|12 ou mais anos|     yes|     muito religioso|       Pós-graduação|Trabalhadores de ...|      feliz|
| 80|      0|female|22.0|     1 à 2 anos|      no|      nada religioso|       Pós-graduação|Funcionários admi...|      feliz|
| 86|      0|female|27.0|     3 à 5 anos|      no|     pouco religioso|ensino superior i...|Funcionários admi...|      feliz|
| 93|      0|female|37.0|12 ou mais anos|     yes|       anti-religião|       Pós-graduação|Funcionários admi...|muito feliz|
|108|      0|female|37.0|12 ou mais anos|     yes|      nada religioso|            Mestrado|Supervisores e té...|  imparcial|
|114|      0|female|22.0|6 meses à 1 ano|      no|ligeramente relig...|      nível superior|Funcionários admi...|      feliz|
|115|      0|female|22.0|     1 à 2 anos|      no|      nada religioso|      nível superior|Funcionários admi...|muito feliz|
|116|      0|female|27.0|    9 à 11 anos|     yes|      nada religioso|ensino superior i...|Profissionais e l...|muito feliz|
+---+-------+------+----+---------------+--------+--------------------+--------------------+--------------------+-----------+
only showing top 20 rows

In [34]:
# 1. Mostrar o esquema do DataFrame para verificar os tipos de dados
df_affairspk.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- affairs: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- age: double (nullable = true)
 |-- yearsmarried: string (nullable = true)
 |-- children: string (nullable = true)
 |-- religiousness: string (nullable = true)
 |-- education: string (nullable = true)
 |-- occupation: string (nullable = true)
 |-- rating: string (nullable = true)

In [35]:
# 2. Verificando o shape do pyspark dataframe
print((df_affairspk.count(), len(df_affairspk.columns)))

(601, 10)

In [36]:
# 3. Matrar (1) linha ordem aleatória
df_affairspk.sample(False, 0.9999999999).show(1)

+---+-------+------+----+------------+--------+--------------------+---------+--------------------+------+
|_c0|affairs|gender| age|yearsmarried|children|       religiousness|education|          occupation|rating|
+---+-------+------+----+------------+--------+--------------------+---------+--------------------+------+
|  4|      0|  male|37.0| 9 à 11 anos|      no|ligeramente relig...| Mestrado|Trabalhadores em ...| feliz|
+---+-------+------+----+------------+--------+--------------------+---------+--------------------+------+
only showing top 1 row

In [37]:
# 4. Agrupar os dados de gênero 
df_affairspk.groupBy("gender").count().show()

+------+-----+
|gender|count|
+------+-----+
|female|  315|
|  male|  286|
+------+-----+

In [38]:
# 5. Estátitica descritiva do Dataframe
df_affairspk.describe().show()

+-------+------------------+------------------+------+-----------------+------------+--------+---------------+--------------------+--------------------+-------------+
|summary|               _c0|           affairs|gender|              age|yearsmarried|children|  religiousness|           education|          occupation|       rating|
+-------+------------------+------------------+------+-----------------+------------+--------+---------------+--------------------+--------------------+-------------+
|  count|               601|               601|   601|              601|         601|     601|            601|                 601|                 601|          601|
|   mean|1059.7221297836938|1.4559068219633944|  NULL|32.48752079866888|        NULL|    NULL|           NULL|                NULL|                NULL|         NULL|
| stddev|  914.904611235213|3.2987577284946816|  NULL| 9.28876170487667|        NULL|    NULL|           NULL|                NULL|                NULL|         NULL|
|    min|                 4|                 0|female|             17.5|  1 à 2 anos|      no|  anti-religião|Doutorado, Mestra...|Funcionários admi...|        feliz|
|    max|              9029|                12|  male|             57.0| 9 à 11 anos|     yes|pouco religioso|      nível superior|Trabalhadores em ...|muito infeliz|
+-------+------------------+------------------+------+-----------------+------------+--------+---------------+--------------------+--------------------+-------------+

In [39]:
# 6. às 10 últimas linhas com filtro de idade

df_affairspk.orderBy(col("age").desc()).show(10)

+----+-------+------+----+---------------+--------+---------------+--------------------+--------------------+-----------+
| _c0|affairs|gender| age|   yearsmarried|children|  religiousness|           education|          occupation|     rating|
+----+-------+------+----+---------------+--------+---------------+--------------------+--------------------+-----------+
| 794|      0|female|57.0|12 ou mais anos|     yes| nada religioso|            Mestrado|Funcionários admi...|    infeliz|
| 786|      2|female|57.0|12 ou mais anos|     yes|  anti-religião|            Mestrado|Funcionários admi...|      feliz|
| 800|      0|  male|57.0|12 ou mais anos|     yes|pouco religioso|  ensino fundamental|Gerentes de média...|    infeliz|
|  45|      0|  male|57.0|12 ou mais anos|     yes| nada religioso|ensino superior i...|Supervisores e té...|      feliz|
| 803|      0|  male|57.0|12 ou mais anos|     yes|pouco religioso|Doutorado, Mestra...|Trabalhadores de ...|muito feliz|
| 409|      0|  male|57.0|12 ou mais anos|     yes| nada religioso|ensino superior i...|Trabalhadores em ...|    infeliz|
|1115|      0|  male|57.0|12 ou mais anos|     yes| nada religioso|Doutorado, Mestra...|Trabalhadores de ...|      feliz|
|  16|      0|  male|57.0|12 ou mais anos|     yes|muito religioso|            Mestrado|Trabalhadores de ...|muito feliz|
|1133|      0|  male|57.0|12 ou mais anos|     yes|pouco religioso|  ensino fundamental|Gerentes de média...|      feliz|
| 517|      0|  male|57.0|12 ou mais anos|     yes|muito religioso|Doutorado, Mestra...|Trabalhadores de ...|muito feliz|
+----+-------+------+----+---------------+--------+---------------+--------------------+--------------------+-----------+
only showing top 10 rows

In [40]:
# 7. Contagem de anos de casamento
anos_casados = df_affairspk.groupBy("yearsmarried").count()
anos_casados.show()

+----------------+-----+
|    yearsmarried|count|
+----------------+-----+
|     9 à 11 anos|   70|
|      6 à 8 anos|   82|
| 12 ou mais anos|  204|
|     4 à 6 meses|   10|
|      3 à 5 anos|  105|
|3 meses ou menos|   11|
| 6 meses à 1 ano|   31|
|      1 à 2 anos|   88|
+----------------+-----+

In [41]:
# 8. Contagem de grau de religiosos
grau_reliogios = df_affairspk.groupBy("religiousness").count()
grau_reliogios.show()

+--------------------+-----+
|       religiousness|count|
+--------------------+-----+
|ligeramente relig...|  129|
|     muito religioso|   70|
|      nada religioso|  164|
|     pouco religioso|  190|
|       anti-religião|   48|
+--------------------+-----+

In [42]:
# 9. Identificando a coluna 6 do Dataframe 
df_affairspk.select(df_affairspk.columns[6]).show()

+--------------------+
|       religiousness|
+--------------------+
|ligeramente relig...|
|     pouco religioso|
|       anti-religião|
|     muito religioso|
|      nada religioso|
|      nada religioso|
|      nada religioso|
|      nada religioso|
|     pouco religioso|
|     pouco religioso|
|      nada religioso|
|     pouco religioso|
|     muito religioso|
|      nada religioso|
|     pouco religioso|
|       anti-religião|
|      nada religioso|
|ligeramente relig...|
|      nada religioso|
|      nada religioso|
+--------------------+
only showing top 20 rows

In [43]:
# 10. selecionar as linhas com índices específicos usando uma condição
from pyspark.sql import functions as F

df_with_index = df_affairspk.withColumn("index", F.monotonically_increasing_id())

# Selecione as linhas com os índices desejados
indices_desejados = [10, 15, 44]
df_selecionado = df_with_index.filter(F.col("index").isin(indices_desejados))

df_selecionado.show()

+---+-------+------+----+---------------+--------+---------------+--------------------+--------------------+-----------+-----+
|_c0|affairs|gender| age|   yearsmarried|children|  religiousness|           education|          occupation|     rating|index|
+---+-------+------+----+---------------+--------+---------------+--------------------+--------------------+-----------+-----+
| 50|      0|  male|37.0|12 ou mais anos|     yes| nada religioso|Doutorado, Mestra...|Trabalhadores em ...|    infeliz|   10|
| 93|      0|female|37.0|12 ou mais anos|     yes|  anti-religião|       Pós-graduação|Funcionários admi...|muito feliz|   15|
|227|      0|female|32.0|     6 à 8 anos|     yes|muito religioso|       Pós-graduação|Funcionários admi...|  imparcial|   44|
+---+-------+------+----+---------------+--------+---------------+--------------------+--------------------+-----------+-----+

In [44]:
# 11. filtrando os homens na coluna "gender"
df_affairspk.where(col("gender") == "male").show()

+---+-------+------+----+---------------+--------+--------------------+--------------------+--------------------+-----------+
|_c0|affairs|gender| age|   yearsmarried|children|       religiousness|           education|          occupation|     rating|
+---+-------+------+----+---------------+--------+--------------------+--------------------+--------------------+-----------+
|  4|      0|  male|37.0|    9 à 11 anos|      no|ligeramente relig...|            Mestrado|Trabalhadores em ...|      feliz|
| 16|      0|  male|57.0|12 ou mais anos|     yes|     muito religioso|            Mestrado|Trabalhadores de ...|muito feliz|
| 23|      0|  male|22.0|6 meses à 1 ano|      no|      nada religioso|       Pós-graduação|Trabalhadores de ...|  imparcial|
| 45|      0|  male|57.0|12 ou mais anos|     yes|      nada religioso|ensino superior i...|Supervisores e té...|      feliz|
| 49|      0|  male|22.0|     1 à 2 anos|      no|     pouco religioso|ensino superior i...|Supervisores e té...|muito feliz|
| 50|      0|  male|37.0|12 ou mais anos|     yes|      nada religioso|Doutorado, Mestra...|Trabalhadores em ...|    infeliz|
| 55|      0|  male|27.0|     3 à 5 anos|     yes|     pouco religioso|            Mestrado|Trabalhadores de ...|      feliz|
| 64|      0|  male|47.0|12 ou mais anos|     yes|     muito religioso|       Pós-graduação|Trabalhadores de ...|      feliz|
|137|      0|  male|37.0|     3 à 5 anos|     yes|      nada religioso|Doutorado, Mestra...|Trabalhadores de ...|      feliz|
|151|      0|  male|42.0|12 ou mais anos|     yes|     muito religioso|Doutorado, Mestra...|Trabalhadores de ...|      feliz|
|153|      0|  male|27.0|     3 à 5 anos|     yes|ligeramente relig...|      nível superior|Funcionários admi...|muito feliz|
|162|      0|  male|42.0|12 ou mais anos|     yes|     pouco religioso|Doutorado, Mestra...|Trabalhadores de ...|  imparcial|
|165|      0|  male|27.0|    4 à 6 meses|      no|     pouco religioso|       Pós-graduação|Trabalhadores de ...|      feliz|
|170|      0|  male|32.0|     3 à 5 anos|     yes|       anti-religião|            Mestrado|Trabalhadores de ...|      feliz|
|192|      0|  male|22.0|     1 à 2 anos|     yes|       anti-religião|ensino superior i...|Proprietários de ...|muito feliz|
|210|      0|  male|32.0|    9 à 11 anos|     yes|     muito religioso|Doutorado, Mestra...|Trabalhadores de ...|muito feliz|
|217|      0|  male|52.0|12 ou mais anos|     yes|     muito religioso|            Mestrado|Trabalhadores de ...|  imparcial|
|228|      0|  male|22.0|     3 à 5 anos|      no|ligeramente relig...|      nível superior|Funcionários admi...|muito feliz|
|245|      0|  male|27.0|     1 à 2 anos|     yes|     pouco religioso|      nível superior|Proprietários de ...|muito feliz|
|249|      0|  male|42.0|12 ou mais anos|     yes|      nada religioso|Doutorado, Mestra...|Trabalhadores de ...|      feliz|
+---+-------+------+----+---------------+--------+--------------------+--------------------+--------------------+-----------+
only showing top 20 rows

In [45]:
# 12. Rótulo PySpark

df_affairspk.filter(col("education").isin("Mestrado" , "Pós-graduação")).select("education").show()

+-------------+
|    education|
+-------------+
|     Mestrado|
|     Mestrado|
|Pós-graduação|
|Pós-graduação|
|     Mestrado|
|Pós-graduação|
|Pós-graduação|
|Pós-graduação|
|     Mestrado|
|     Mestrado|
|Pós-graduação|
|Pós-graduação|
|     Mestrado|
|Pós-graduação|
|     Mestrado|
|     Mestrado|
|Pós-graduação|
|     Mestrado|
|     Mestrado|
|     Mestrado|
+-------------+
only showing top 20 rows

In [46]:
# 13. Agrupa por "education" e conta o número de ocorrências de cada valor
from pyspark.sql.functions import col
contagem_educar_superior = df_affairspk.groupBy("education").count()
contagem_educar_superior.show()

+--------------------+-----+
|           education|count|
+--------------------+-----+
|       Pós-graduação|   89|
|        ensino médio|   44|
|ensino superior i...|  154|
|Doutorado, Mestra...|   80|
|  ensino fundamental|    7|
|            Mestrado|  112|
|      nível superior|  115|
+--------------------+-----+

In [47]:
# 14. Agrupa por "ocupação" e conta o número de ocorrências de cada valor
contagem_educar_superior = df_affairspk.groupBy("occupation").count()
contagem_educar_superior.show()

+--------------------+-----+
|          occupation|count|
+--------------------+-----+
|Trabalhadores em ...|   13|
|Trabalhadores de ...|  143|
|Funcionários admi...|  204|
|Supervisores e té...|   68|
|Profissionais e l...|  113|
|Gerentes de média...|   13|
|Proprietários de ...|   47|
+--------------------+-----+

In [48]:
# 15. Agrupa por "filhos" e conta o número de ocorrências de cada valor
contagem_filhos = df_affairspk.groupBy("children").count()
contagem_filhos.show()

+--------+-----+
|children|count|
+--------+-----+
|      no|  171|
|     yes|  430|
+--------+-----+

In [49]:
# 16. Agrupa por "anos de casamento" e conta o número de ocorrências de cada valor
contagem_filhos = df_affairspk.groupBy("yearsmarried").count()
contagem_filhos.show()

+----------------+-----+
|    yearsmarried|count|
+----------------+-----+
|     9 à 11 anos|   70|
|      6 à 8 anos|   82|
| 12 ou mais anos|  204|
|     4 à 6 meses|   10|
|      3 à 5 anos|  105|
|3 meses ou menos|   11|
| 6 meses à 1 ano|   31|
|      1 à 2 anos|   88|
+----------------+-----+