##Listas##

**Definição** - são coleções ordenadas e mutáveis que permitem armazenar múltiplos itens em uma única variável.

In [ ]:
#Definir uma lista
numeros = [1,2,3,4,5,6]
print(numeros)

# Acessando elementos
print(numeros[2])

# Modificando elementos da lista
numeros[2] = 100
# numeros[2] = int(input("Digite um numero: "))
print(numeros)

# Adicionando novos elementos a lista
numeros.append(1500)
print(numeros)

# Removendo elementos da lista
numeros.remove(5)
print(numeros)

# ORDENAR ELEMENTOS DE UMA LISTA (método sort())
numeros.sort()
print(numeros)

# ORDEM REVERSA
numeros.sort(reverse=True)
print(numeros)

# ORDENAR ELEMENTOS DE UMA LISTA (função sorted())
numeros_ordenados = sorted(numeros)
numeros_ordenados_decrescente = sorted(numeros, reverse=True)
print("Lista Ordenada: ", numeros_ordenados)
print("Lista Ordenada Decrescente: ", numeros_ordenados_decrescente)
print("Lista Original: ", numeros)

# Adicionando elemento em qualquer posição desejada (método insert())
numeros.insert(2, 9999)
print(numeros)
# Adicionando no inicio da lista
numeros.insert(0, 33)
print(numeros)

# Adicionando no final da lista
numeros.insert(len(numeros), 500)
numeros.sort() # ordenando os numeros
print(numeros)

dobro = [algo * 2 for algo in numeros]
print(dobro)
# outra forma de usar o for
resposta = []
for x in numeros:
  resposta.append(x * 2)

print(resposta)

# somar os elementos de uma lista (função sum())
total = sum(numeros)
print(total)

# somar usando o for
total2 = 0
for num in numeros:
  total2 += num
print(total2)

# Menor valor (min())
print(min(numeros))

# Maior valor (max())
print(max(numeros))

# Media
media = sum(numeros) /len(numeros)
media_arredondada = round(media,2)
print("Media normal: ", media)
print("Média Arredondada: ", media_arredondada)
print(f" {media:.2f}")

[1, 2, 3, 4, 5, 6]
3
[1, 2, 100, 4, 5, 6]
[1, 2, 100, 4, 5, 6, 1500]
[1, 2, 100, 4, 6, 1500]
[1, 2, 4, 6, 100, 1500]
[1500, 100, 6, 4, 2, 1]
Lista Ordenada:  [1, 2, 4, 6, 100, 1500]
Lista Ordenada Decrescente:  [1500, 100, 6, 4, 2, 1]
Lista Original:  [1500, 100, 6, 4, 2, 1]
[1500, 100, 9999, 6, 4, 2, 1]
[33, 1500, 100, 9999, 6, 4, 2, 1]
[1, 2, 4, 6, 33, 100, 500, 1500, 9999]
[2, 4, 8, 12, 66, 200, 1000, 3000, 19998]
[2, 4, 8, 12, 66, 200, 1000, 3000, 19998]
12145
12145
1
9999
Media normal:  1349.4444444444443
Média Arredondada:  1349.44
 1349.44

In [ ]:
#Objetos Imutáveis - são aqueles cujo conteúdo ou estado não podem ser modificados.
texto = "Hello"
print(texto[0])
# texto[0] = "X" --- não é permitido

# Objetos Mutáveis - são aqueles cujo conteúdo ou estado podem ser modificados.

H

TypeError: 'str' object does not support item assignment

##Dicionários#

**Definição** - é coleção de pares (chave-valor) separados por dois pontos.

In [ ]:
#Criando um dicionario
pessoa = {
    "nome": "Adriano",
    "idade": 41,
    "cidade": "Mossoró"
}
print(pessoa)

#Acessando valores do dicionario
meuNome = pessoa["nome"]
print(meuNome)
print(pessoa["idade"])

# Adicionando ou Modificando itens
pessoa["idade"] = 42 # modificando a idade para 42
pessoa["email"] = "adriano.gomes@soulcode.com"
print(pessoa)

# Removendo Itens
# pessoa.pop("cidade")
# print(pessoa)

#Remover o ultimo
# pessoa.popitem()
# print(pessoa)

# Iterando sobre as chaves
for chave in pessoa:
    print(chave)

# Iterando sobre os valores
for valor in pessoa.values():
    print(valor)

# Iterando sobre os pares chave-valor
for chave, valor in pessoa.items():
    print(f"{chave}: {valor}")

# Verificar a Existência de uma chave
if "idades" in pessoa:
    print("A chave 'idade' existe no dicionário.")
else:
  print("A chave 'idade' NÃO existe no dicionário.")

{'nome': 'Adriano', 'idade': 41, 'cidade': 'Mossoró'}
Adriano
41
{'nome': 'Adriano', 'idade': 42, 'cidade': 'Mossoró', 'email': 'adriano.gomes@soulcode.com'}
nome
idade
cidade
email
Adriano
42
Mossoró
adriano.gomes@soulcode.com
nome: Adriano
idade: 42
cidade: Mossoró
email: adriano.gomes@soulcode.com
A chave 'idade' NÃo existe no dicionário.

##Tuplas##

**Definição:** - São semelhantes às lista, mas com uma diferença CRUCIAL: *SÃO IMUTÁVEIS*.

In [ ]:
#Criação de Tuplas
tupla = (1,2,3,4,5)
print(tupla)

#Tuplas sem Parênteses
tupla2 = 1,2,3,4,5
print(tupla2)

#Acessando Elementos
print(tupla2[3])

#Tuplas aninhadas
tupla3 = ("Helen", (1,2,5,9), "Silas")
tuplaN = tupla3[1]
tuplaT = tupla3[0] + ", " + tupla3[2]
print(tupla3)
print(tuplaN)
print(tuplaT)
print(tupla3[1][2])

# tupla3[0] = 99 --- erro por ser imutavel


# Desempacotamento de Tuplas
a, b, c = tupla3
x,y,z,k = b

print(a)
print(b)
print(c)
print(k)

(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5)
4
('Helen', (1, 2, 5, 9), 'Silas')
(1, 2, 5, 9)
Helen, Silas
5
Helen
(1, 2, 5, 9)
Silas
9

**Operações com Tuplas**

In [ ]:
#Concatenação
tupla1 = (1,2,3)
tupla2 = (4,5)
tupla3 = tupla1 + tupla2
print(tupla3)

#Repetição
tupla_duplicada = tupla3 * 2
print(tupla_duplicada)

#Fatiamento
print(tupla_duplicada[1:4])

#Verificar a existência
print(3 in tupla_duplicada)

#Verificar o comprimento
print(len(tupla_duplicada))

#Contagem de elementos
tuplaAnimais = ("gato", "cachorro", "gato", "Gato")
print(tupla_duplicada.count(4))
print(tuplaAnimais.count("gato") + tuplaAnimais.count("Gato"))

#Transformar ou criar uma cópia de uma tupla para uma lista
listaAnimais = list(tuplaAnimais)
print(listaAnimais)

#Converter a tupla em um dicionário com a contagem de cada animal
dicionarioAnimais = {
    x: tuplaAnimais.count(x) for x in tuplaAnimais
}
print(dicionarioAnimais)

# Criando um dicionario com a chave "TipoAnimal"
dicionarioAnimais2 = {"tipoAnimal": tuplaAnimais}
print(dicionarioAnimais2)

#Outra forma
dicionarioAnimais3 = {"tipoAnimal": list(tuplaAnimais)}
print(dicionarioAnimais3)


#Solicitando dois inputs ao usuário
animal1 = input("Digite o primeiro animal: ")
animal2 = input("Digite o segundo animal: ")

#Criando uma tupla com os inputs
animaisT = (animal1, animal2)

#Convertendo
dicionarioSaida = {"tipoAnimal": list(animaisT)}
print(dicionarioSaida)

(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)
(2, 3, 4)
True
10
2
3
['gato', 'cachorro', 'gato', 'Gato']
{'gato': 2, 'cachorro': 1, 'Gato': 1}
{'tipoAnimal': ('gato', 'cachorro', 'gato', 'Gato')}
{'tipoAnimal': ['gato', 'cachorro', 'gato', 'Gato']}
Digite o primeiro animal: peixe
Digite o segundo animal: pássaro
{'tipoAnimal': ['peixe', 'pássaro']}

##Sets##

**Definição:** - Conjuntos - estrutura de dados que armazenam elementos únicos e desordenados.

In [ ]:
#Criando um set vazio
meu_set = set()

# Criando um set com elementos
meu_set = {1,2,3,4,5,6}
print(meu_set)

#Criando um set com elementos duplicados
meu_set = {1,2,3,4,5,6, 1,2,3,4,5,5,5,5,9,10}
print(meu_set)

#Adicionar elementos
meu_set.add(100)
meu_set.add(11)
meu_set.add(15)
print(meu_set)

#Removendo elementos
meu_set.remove(4) # Levanta um erro se o elemento não existir
meu_set.discard(999) # Não Levanta  erro se o elemento não existir
print(meu_set)

#União de Sets
set1 = {20,21,22}
uniaoSet = meu_set | set1
uniaoSet2 = meu_set.union(set1)
print(uniaoSet)

#Interseção de Sets
intersecaoSet = set1 & uniaoSet
intersecaoSet2 = set1.intersection(uniaoSet)
print(intersecaoSet)

#Diferenças de Sets
diferencaSet = set1 - uniaoSet
diferencaSet = uniaoSet.difference(set1)
print(diferencaSet)

#Diferenças simétricas de Sets
diferencaSet2 = set1 ^ uniaoSet
diferencaSet2 = uniaoSet.symmetric_difference(set1)
diferencaSet3 = set1.symmetric_difference(uniaoSet)
print(diferencaSet2)
print(diferencaSet3)

set1.clear()

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6, 9, 10}
{1, 2, 3, 4, 5, 6, 100, 9, 10, 11, 15}
{1, 2, 3, 5, 6, 100, 9, 10, 11, 15}
{1, 2, 3, 100, 5, 6, 9, 10, 11, 15, 20, 21, 22}
{20, 21, 22}
{1, 2, 3, 100, 5, 6, 9, 10, 11, 15}
{1, 2, 3, 100, 5, 6, 9, 10, 11, 15}
{1, 2, 3, 100, 5, 6, 9, 10, 11, 15}