# 1 - Criando o ambiente e importando as bibliotecas

In [ ]:
# Importação da biblioteca pandas
import pandas as pd

In [ ]:
# Instalação dos requisitos para o PySpark
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://archive.apache.org/dist/spark/spark-3.1.1/spark-3.1.1-bin-hadoop3.2.tgz
!tar xf spark-3.1.1-bin-hadoop3.2.tgz
!pip install -q findspark

In [ ]:
# Configurar as variáveis de ambiente
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.1-bin-hadoop3.2"
# Torna o pyspark "importável"
import findspark
findspark.init()

In [ ]:
# iniciar uma sessão local
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Introducao").getOrCreate()

In [ ]:
# Verifica o SparkContext
print(spark)

# Exibe a Spark version
print(spark.version)

<pyspark.sql.session.SparkSession object at 0x7c88dc7ca860>
3.1.1

In [ ]:
# Definir quais funcões sql pyspark vamos importar
from pyspark.sql.functions import *

#2 - Criando DataFrames

In [ ]:
# Em Pandas
'''
Nesta apostila um objetivo com sufixo pd será um objeto pandas, por
exemplo dfpd
'''
nome = ['Douglas', 'Daniela', 'Pedro', 'Maria', 'Eduardo', 'Ester']
idade = [45, 7, 65, 64, 42, 37]
altura = [1.85, 1.23, 1.75, 1.67, 1.82, 1.73]
peso = [70, 22, 87, 64, 96, 68]
sexo = ['M', 'F', 'M', 'F', 'M', 'F']

dfpd = pd.DataFrame({'nome': nome, 'idade': idade, 'altura': altura,
                     'peso': peso, 'sexo': sexo})
display(dfpd)

In [ ]:
# Em ambinete PySpark nosso df se chamará dfps
data = [("Douglas", 45, 1.85, 70, "M"),
        ("Daniela", 7, 1.23, 22, "F"),
        ("Pedro", 65, 1.75, 87, "M"),
        ("Maria", 64, 1.67, 64, "F"),
        ("Eduardo", 42, 1.82, 96, "M"),
        ("Ester", 37, 1.73, 68, "F")]
columns = ["nome", "idade", "altura", "peso", "sexo"]
dfps = spark.createDataFrame(data, columns)
dfps.show()

#3 - Exibindo linhas e colunas

In [ ]:
#Pandas
dfpd.shape

(6, 5)

In [ ]:
# PySpark
print(f"Quantidade de linhas e colunas: {dfps.count()}, {len(dfps.columns)}")

Quantidade de linhas e colunas: 6, 5

#4 - Exibindo aleatoriamente uma linha DF

In [ ]:
# Pandas
dfpd.sample()

    nome  idade  altura  peso sexo
3  Maria     64    1.67    64    F

In [ ]:
# PySpark
dfps.sample(False, 0.9999999999).show(1) # (probabilidade de vazio, chance de ser sorteado novamente a mesma linha)

+-------+-----+------+----+----+
|   nome|idade|altura|peso|sexo|
+-------+-----+------+----+----+
|Douglas|   45|  1.85|  70|   M|
+-------+-----+------+----+----+
only showing top 1 row

#5 - Exibindo Informações sobre os Tipos de Cada Atributo

In [ ]:
# Pandas
dfpd.dtypes

In [ ]:
# Pandas
dfpd.info()

In [ ]:
# PySpark
dfps.printSchema()

#6 - Exibindo Informações do Índice das Linhas

In [ ]:
# Pandas
dfpd.index

RangeIndex(start=0, stop=6, step=1)

In [ ]:
# PySpark
dfps.rdd.map(lambda row: row).zipWithIndex().toDF().show()

#7 - Estatísticas Descritivas

In [ ]:
# Pandas
medidas = dfpd.describe()
display(medidas)

In [ ]:
# PySpark
dfps.describe().show()

#8 - Exibindo as Primeiras e Últimas Linhas

In [ ]:
# Primeiras Linhas em Pandas
dfpd.head()

In [ ]:
# Últimas linhas em Pandas
dfpd.tail()

In [ ]:
# Primeiras 3 linhas em PySpark
dfps.show(3)

In [ ]:
# Últimas 3 linhas em PySpark
dfps.orderBy(col("nome").desc()).show(3)

#9 - Exibindo Valores de uma Linha pelo Rótulo e Índice

In [ ]:
# Rótulo Pandas
dfpd.loc[0]

nome      Douglas
idade          45
altura       1.85
peso           70
sexo            M
Name: 0, dtype: object

In [ ]:
# Rótulo Pandas
medidas.loc['count']

idade     6.0
altura    6.0
peso      6.0
Name: count, dtype: float64

In [ ]:
# Índice Pandas
dfpd.iloc[0]

nome      Douglas
idade          45
altura       1.85
peso           70
sexo            M
Name: 0, dtype: object

In [ ]:
# Índice Pandas
medidas.iloc[0]

idade     6.0
altura    6.0
peso      6.0
Name: count, dtype: float64

In [ ]:
# Rótulo PySpark
dfps.where(col("sexo") == "F").show()

+-------+-----+------+----+----+
|   nome|idade|altura|peso|sexo|
+-------+-----+------+----+----+
|Daniela|    7|  1.23|  22|   F|
|  Maria|   64|  1.67|  64|   F|
|  Ester|   37|  1.73|  68|   F|
+-------+-----+------+----+----+

In [ ]:
# Rótulo PySpark
dfps.where((col("nome") != "Douglas") & (col("peso") >= 68)).show()

+-------+-----+------+----+----+
|   nome|idade|altura|peso|sexo|
+-------+-----+------+----+----+
|  Pedro|   65|  1.75|  87|   M|
|Eduardo|   42|  1.82|  96|   M|
|  Ester|   37|  1.73|  68|   F|
+-------+-----+------+----+----+

In [ ]:
# Ìndice PySpark
'''
Em PySpark não temos suporte direto à índices, pois os dados
não estão alocados em disco, mas podemos fazer ajustes técnicos (gambiarra)
como veremos mais pra frente.
'''
dfps.select(dfps.columns[0]).show()

# 10 - Exibindo Mais de uma Linha pelo Rótulo e Índice

In [ ]:
# Mais de uma linha pelo rótulo Pandas
dfpd.loc[[0, 3, 5]]

      nome  idade  altura  peso sexo
0  Douglas     45    1.85    70    M
3    Maria     64    1.67    64    F
5    Ester     37    1.73    68    F

In [ ]:
# Mais de uma linha pelo índice Pandas
dfpd.iloc[[0, 3, 5]]

      nome  idade  altura  peso sexo
0  Douglas     45    1.85    70    M
3    Maria     64    1.67    64    F
5    Ester     37    1.73    68    F

In [ ]:
# Mais de uma linha pelo rótulo PySpark
dfps.filter(col("nome").isin("Douglas", "Maria", "Ester")).show()

+-------+-----+------+----+----+
|   nome|idade|altura|peso|sexo|
+-------+-----+------+----+----+
|Douglas|   45|  1.85|  70|   M|
|  Maria|   64|  1.67|  64|   F|
|  Ester|   37|  1.73|  68|   F|
+-------+-----+------+----+----+

In [ ]:
# Mais de uma linha pelo índice PySpark
'''
Na linha a seguir vamos utilizar a função collect do PySpark para
organizar todoo df em linhas em um objeto rdd
'''
linhas = dfps.collect()
'''
Na linha a seguir vamos pegar esse objeto rdd e iterar (compreensão de lista)
sobre ele para selecionar apenas as linhas 0, 3 e 5 do objeto rdd e armazená-las
em um objeto chamado linhas selecionadas
'''
linhas_selecionadas = [linhas[i] for i in [0, 3, 5]]
'''
Na linha a seguir vamos transformar o objeto linhas selecionadas em um df
pyspark chamado df_ps_linhas_selecionadas
'''
df_ps_linhas_selecionadas = spark.createDataFrame(linhas_selecionadas, dfps.schema)
'''
Agora é só exibí-lo
'''
df_ps_linhas_selecionadas.show()

+-------+-----+------+----+----+
|   nome|idade|altura|peso|sexo|
+-------+-----+------+----+----+
|Douglas|   45|  1.85|  70|   M|
|  Maria|   64|  1.67|  64|   F|
|  Ester|   37|  1.73|  68|   F|
+-------+-----+------+----+----+

# 11 - Fatiando Colunas pelo Rótulo e Índice

In [ ]:
# Rótulo Pandas
dfpd.loc[:, ['nome','peso']]

      nome  peso
0  Douglas    70
1  Daniela    22
2    Pedro    87
3    Maria    64
4  Eduardo    96
5    Ester    68

In [ ]:
# ìndice Pandas
dfpd.iloc[:, [0]]

      nome
0  Douglas
1  Daniela
2    Pedro
3    Maria
4  Eduardo
5    Ester

In [ ]:
# Rótulo PySpark
dfps.select("nome").show()

+-------+
|   nome|
+-------+
|Douglas|
|Daniela|
|  Pedro|
|  Maria|
|Eduardo|
|  Ester|
+-------+

In [ ]:
# Índice PySpark
dfps.select(dfps.columns[0]).show()

+-------+
|   nome|
+-------+
|Douglas|
|Daniela|
|  Pedro|
|  Maria|
|Eduardo|
|  Ester|
+-------+

In [ ]:
# Índice PySpark Múltiplos
selected_columns = [dfps.columns[i] for i in [0, 3]]
dfps.select(*selected_columns).show()

+-------+----+
|   nome|peso|
+-------+----+
|Douglas|  70|
|Daniela|  22|
|  Pedro|  87|
|  Maria|  64|
|Eduardo|  96|
|  Ester|  68|
+-------+----+

# 12 - Exibindo Linhas Específicas de uma Coluna pelo Rótulo e Índice

In [ ]:
# Rótulo Pandas
dfpd.loc[[0, 2, 4], ['nome']]

      nome
0  Douglas
2    Pedro
4  Eduardo

In [ ]:
# Índice Pandas
dfpd.iloc[[0, 2, 4], [0]]

      nome  altura sexo
0  Douglas    1.85    M
2    Pedro    1.75    M
4  Eduardo    1.82    M

In [ ]:
# Rótulo PySpark
dfps.filter(col("nome").isin("Douglas", "Pedro", "Eduardo")).select("nome").show()

+-------+
|   nome|
+-------+
|Douglas|
|  Pedro|
|Eduardo|
+-------+

#13 - Agrupamentos e Cálculos Estatísticos

In [ ]:
# Pandas
dfpd.groupby('sexo').count()

      nome  idade  altura  peso
sexo
F        3      3       3     3
M        3      3       3     3

In [ ]:
# Pandas
dfpd[['sexo', 'idade']].groupby('sexo').mean()

          idade
sexo
F     36.000000
M     50.666667

In [ ]:
# PySpark
dfps.groupBy("sexo").count().show()

+----+-----+
|sexo|count|
+----+-----+
|   F|    3|
|   M|    3|
+----+-----+

In [ ]:
# PySpark
'''
objeto.groupby('coluna_dimensão').agg(tipo_de_agregação('coluna_métrica').alias('nome_a_exibir')).show()
'''
dfps.groupBy("sexo").agg(avg("idade").alias("idade_media")).show()

+----+------------------+
|sexo|       idade_media|
+----+------------------+
|   F|              36.0|
|   M|50.666666666666664|
+----+------------------+

In [ ]:
# PySpark
'''
objeto.groupby('coluna_dimensão').agg(tipo_de_agregação('coluna_métrica').alias('nome_a_exibir')).show()
'''
dfps.groupBy("sexo").agg(min("idade").alias("idade_media")).show()

+----+-----------+
|sexo|idade_media|
+----+-----------+
|   F|          7|
|   M|         42|
+----+-----------+

In [ ]:
# PySpark
'''
objeto.groupby('coluna_dimensão').agg(tipo_de_agregação('coluna_métrica').alias('nome_a_exibir')).show()
'''
dfps.groupBy("sexo").agg(max("idade").alias("idade_media")).show()

+----+-----------+
|sexo|idade_media|
+----+-----------+
|   F|         64|
|   M|         65|
+----+-----------+

# 14 - Importando arquivos

In [ ]:
from google.colab import files
files.upload()

In [ ]:
arquivo = "/content/funcionarios.csv"
flights = spark\
        .read.format("csv")\
        .option("inferSchema", "True")\
        .option("header", "True")\
        .csv(arquivo)

In [ ]:
#Verificando o shape do pyspark dataframe
print((flights.count(), len(flights.columns)))

(1470, 35)

In [ ]:
# Exibindo as 5 primeiras linhas
flights.show(5)

+-----+--------+--------------------+-----------------+--------------------+-----------------+------------+----------------+------------------------------------------+--------------+----------------------------------------------+---------+----------------+------------------------------------+-----------------+--------------------+-------------------------+------------+------------+--------------+---------------------------------+--------------+--------------+--------------------------------+--------------------+------------------------------------+--------------------------+--------------------------------------+-------------------------+---------------------------------------------+------------------------+------------------------------------+--------------------------------+----------------------------+-----------------------------------+
|Idade|Demissão|  Viagem de negócios|Diárias recebidas|        Departamento|Distância de Casa|Escolaridade|Área de Formação|Número de contratos de trabalho na empresa|ID Funcionário|Nível de Satisfação com o ambiente de trabalho|   Gênero|Salário por hora|Nível de envolvimento com o trabalho|Nível hierárquico|               Cargo|Satisfação com o trabalho|Estado civil|Renda mensal|Salário Mensal|qtde de empresas que já trabalhou|Maior de idade|Faz hora extra|percentual de aumento de salário|score de performance|Satisfação nas relações Não trabalho|Jornada padrão de trabalho|opção de remaunração variável em ações|Total de anos trabalhados|Qtde de treinamentos realizados no último ano|Equilíbrio vida trabalho|Total de anos trabalhados na empresa|Anos trabalhados na função atual|Anos desde a última promoção|Anos trabalhando com o atual gestor|
+-----+--------+--------------------+-----------------+--------------------+-----------------+------------+----------------+------------------------------------------+--------------+----------------------------------------------+---------+----------------+------------------------------------+-----------------+--------------------+-------------------------+------------+------------+--------------+---------------------------------+--------------+--------------+--------------------------------+--------------------+------------------------------------+--------------------------+--------------------------------------+-------------------------+---------------------------------------------+------------------------+------------------------------------+--------------------------------+----------------------------+-----------------------------------+
|   41|     Sim|     Viaja raramente|             1102|              Vendas|                1|           2|Ciências Humanas|                                         1|             1|                                             2| Feminino|              94|                                   3|                2| Executivo de vendas|                        4|    Solteiro|        5993|         19479|                                8|           Sim|           Sim|                              11|                   3|                                   1|                        80|                                     0|                        8|                                            0|                       1|                                   6|                               4|                           0|                                  5|
|   49|     Não|Viaja frequentemente|              279|Pesquisa e Desenv...|                8|           1|Ciências Humanas|                                         1|             2|                                             3|Masculino|              61|                                   2|                2|Pesquisador cient...|                        2|      Casado|        5130|         24907|                                1|           Sim|           Não|                              23|                   4|                                   4|                        80|                                     1|                       10|                                            3|                       3|                                  10|                               7|                           1|                                  7|
|   37|     Sim|     Viaja raramente|             1373|Pesquisa e Desenv...|                2|           2|          Outras|                                         1|             4|                                             4|Masculino|              92|                                   2|                1|Técnico de Labora...|                        3|    Solteiro|        2090|          2396|                                6|           Sim|           Sim|                              15|                   3|                                   2|                        80|                                     0|                        7|                                            3|                       3|                                   0|                               0|                           0|                                  0|
|   33|     Não|Viaja frequentemente|             1392|Pesquisa e Desenv...|                3|           4|Ciências Humanas|                                         1|             5|                                             4| Feminino|              56|                                   3|                1|Pesquisador cient...|                        3|      Casado|        2909|         23159|                                1|           Sim|           Sim|                              11|                   3|                                   3|                        80|                                     0|                        8|                                            3|                       3|                                   8|                               7|                           3|                                  0|
|   27|     Não|     Viaja raramente|              591|Pesquisa e Desenv...|                2|           1|Ciências Médicas|                                         1|             7|                                             1|Masculino|              40|                                   3|                1|Técnico de Labora...|                        2|      Casado|        3468|         16632|                                9|           Sim|           Não|                              12|                   3|                                   4|                        80|                                     1|                        6|                                            3|                       3|                                   2|                               2|                           2|                                  2|
+-----+--------+--------------------+-----------------+--------------------+-----------------+------------+----------------+------------------------------------------+--------------+----------------------------------------------+---------+----------------+------------------------------------+-----------------+--------------------+-------------------------+------------+------------+--------------+---------------------------------+--------------+--------------+--------------------------------+--------------------+------------------------------------+--------------------------+--------------------------------------+-------------------------+---------------------------------------------+------------------------+------------------------------------+--------------------------------+----------------------------+-----------------------------------+
only showing top 5 rows

In [ ]:
# Exibindo o nome das colunas e seus respectivos tipos
flights.printSchema()

In [ ]:
'''
A Criação da view temporária é necessária para que as consultas sql posteriores
funcionem
'''
#Registrando o dataframe em uma view temporária
flights.createOrReplaceTempView("flights")

query = "FROM flights SELECT * LIMIT 10"

# Selecionando as 10 primeiras linhas do dataset
flights10 = spark.sql(query)

# Print o resultado
flights10.show()

+-----+--------+--------------------+-----------------+--------------------+-----------------+------------+----------------+------------------------------------------+--------------+----------------------------------------------+---------+----------------+------------------------------------+-----------------+--------------------+-------------------------+------------+------------+--------------+---------------------------------+--------------+--------------+--------------------------------+--------------------+------------------------------------+--------------------------+--------------------------------------+-------------------------+---------------------------------------------+------------------------+------------------------------------+--------------------------------+----------------------------+-----------------------------------+
|Idade|Demissão|  Viagem de negócios|Diárias recebidas|        Departamento|Distância de Casa|Escolaridade|Área de Formação|Número de contratos de trabalho na empresa|ID Funcionário|Nível de Satisfação com o ambiente de trabalho|   Gênero|Salário por hora|Nível de envolvimento com o trabalho|Nível hierárquico|               Cargo|Satisfação com o trabalho|Estado civil|Renda mensal|Salário Mensal|qtde de empresas que já trabalhou|Maior de idade|Faz hora extra|percentual de aumento de salário|score de performance|Satisfação nas relações Não trabalho|Jornada padrão de trabalho|opção de remaunração variável em ações|Total de anos trabalhados|Qtde de treinamentos realizados no último ano|Equilíbrio vida trabalho|Total de anos trabalhados na empresa|Anos trabalhados na função atual|Anos desde a última promoção|Anos trabalhando com o atual gestor|
+-----+--------+--------------------+-----------------+--------------------+-----------------+------------+----------------+------------------------------------------+--------------+----------------------------------------------+---------+----------------+------------------------------------+-----------------+--------------------+-------------------------+------------+------------+--------------+---------------------------------+--------------+--------------+--------------------------------+--------------------+------------------------------------+--------------------------+--------------------------------------+-------------------------+---------------------------------------------+------------------------+------------------------------------+--------------------------------+----------------------------+-----------------------------------+
|   41|     Sim|     Viaja raramente|             1102|              Vendas|                1|           2|Ciências Humanas|                                         1|             1|                                             2| Feminino|              94|                                   3|                2| Executivo de vendas|                        4|    Solteiro|        5993|         19479|                                8|           Sim|           Sim|                              11|                   3|                                   1|                        80|                                     0|                        8|                                            0|                       1|                                   6|                               4|                           0|                                  5|
|   49|     Não|Viaja frequentemente|              279|Pesquisa e Desenv...|                8|           1|Ciências Humanas|                                         1|             2|                                             3|Masculino|              61|                                   2|                2|Pesquisador cient...|                        2|      Casado|        5130|         24907|                                1|           Sim|           Não|                              23|                   4|                                   4|                        80|                                     1|                       10|                                            3|                       3|                                  10|                               7|                           1|                                  7|
|   37|     Sim|     Viaja raramente|             1373|Pesquisa e Desenv...|                2|           2|          Outras|                                         1|             4|                                             4|Masculino|              92|                                   2|                1|Técnico de Labora...|                        3|    Solteiro|        2090|          2396|                                6|           Sim|           Sim|                              15|                   3|                                   2|                        80|                                     0|                        7|                                            3|                       3|                                   0|                               0|                           0|                                  0|
+-----+--------+--------------------+-----------------+--------------------+-----------------+------------+----------------+------------------------------------------+--------------+----------------------------------------------+---------+----------------+------------------------------------+-----------------+--------------------+-------------------------+------------+------------+--------------+---------------------------------+--------------+--------------+--------------------------------+--------------------+------------------------------------+--------------------------+--------------------------------------+-------------------------+---------------------------------------------+------------------------+------------------------------------+--------------------------------+----------------------------+-----------------------------------+

In [ ]:
# Convertendo o resultado para pandas
flightspd = flights.toPandas()
display(flightspd)

,Idade,Demissão,Viagem de negócios,Diárias recebidas,Departamento,Distância de Casa,Escolaridade,Área de Formação,Número de contratos de trabalho na empresa,ID Funcionário,...,Satisfação nas relações Não trabalho,Jornada padrão de trabalho,opção de remaunração variável em ações,Total de anos trabalhados,Qtde de treinamentos realizados no último ano,Equilíbrio vida trabalho,Total de anos trabalhados na empresa,Anos trabalhados na função atual,Anos desde a última promoção,Anos trabalhando com o atual gestor
0,41,Sim,Viaja raramente,1102,Vendas,1,2,Ciências Humanas,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,Não,Viaja frequentemente,279,Pesquisa e Desenvolvimento,8,1,Ciências Humanas,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Sim,Viaja raramente,1373,Pesquisa e Desenvolvimento,2,2,Outras,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,Não,Viaja frequentemente,1392,Pesquisa e Desenvolvimento,3,4,Ciências Humanas,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,Não,Viaja raramente,591,Pesquisa e Desenvolvimento,2,1,Ciências Médicas,1,7,...,4,80,1,6,3,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,Não,Viaja frequentemente,884,Pesquisa e Desenvolvimento,23,2,Ciências Médicas,1,2061,...,3,80,1,17,3,3,5,2,0,3
1466,39,Não,Viaja raramente,613,Pesquisa e Desenvolvimento,6,1,Ciências Médicas,1,2062,...,1,80,1,9,5,3,7,7,1,7
1467,27,Não,Viaja raramente,155,Pesquisa e Desenvolvimento,4,3,Ciências Humanas,1,2064,...,2,80,1,6,0,3,6,2,0,3
1468,49,Não,Viaja frequentemente,1023,Vendas,2,3,Ciências Médicas,1,2065,...,4,80,0,17,3,2,9,6,0,8
1469,34,Não,Viaja raramente,628,Pesquisa e Desenvolvimento,8,3,Ciências Médicas,1,2068,...,1,80,0,6,3,4,4,3,1,2

In [ ]:
# Criando pandas dataframe
arq = "/content/funcionarios.csv"
pd_temp = pd.read_csv(arq)
display(pd_temp)

,Idade,Demissão,Viagem de negócios,Diárias recebidas,Departamento,Distância de Casa,Escolaridade,Área de Formação,Número de contratos de trabalho na empresa,ID Funcionário,...,Satisfação nas relações Não trabalho,Jornada padrão de trabalho,opção de remaunração variável em ações,Total de anos trabalhados,Qtde de treinamentos realizados no último ano,Equilíbrio vida trabalho,Total de anos trabalhados na empresa,Anos trabalhados na função atual,Anos desde a última promoção,Anos trabalhando com o atual gestor
0,41,Sim,Viaja raramente,1102,Vendas,1,2,Ciências Humanas,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,Não,Viaja frequentemente,279,Pesquisa e Desenvolvimento,8,1,Ciências Humanas,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Sim,Viaja raramente,1373,Pesquisa e Desenvolvimento,2,2,Outras,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,Não,Viaja frequentemente,1392,Pesquisa e Desenvolvimento,3,4,Ciências Humanas,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,Não,Viaja raramente,591,Pesquisa e Desenvolvimento,2,1,Ciências Médicas,1,7,...,4,80,1,6,3,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,Não,Viaja frequentemente,884,Pesquisa e Desenvolvimento,23,2,Ciências Médicas,1,2061,...,3,80,1,17,3,3,5,2,0,3
1466,39,Não,Viaja raramente,613,Pesquisa e Desenvolvimento,6,1,Ciências Médicas,1,2062,...,1,80,1,9,5,3,7,7,1,7
1467,27,Não,Viaja raramente,155,Pesquisa e Desenvolvimento,4,3,Ciências Humanas,1,2064,...,2,80,1,6,0,3,6,2,0,3
1468,49,Não,Viaja frequentemente,1023,Vendas,2,3,Ciências Médicas,1,2065,...,4,80,0,17,3,2,9,6,0,8
1469,34,Não,Viaja raramente,628,Pesquisa e Desenvolvimento,8,3,Ciências Médicas,1,2068,...,1,80,0,6,3,4,4,3,1,2

In [ ]:
# Cria spark_temp a partir de pd_temp
spark_temp = spark.createDataFrame(pd_temp.to_dict('records'))
spark_temp.show()

+----------------------------+--------------------------------+-----------------------------------+--------------------+--------+--------------------+-----------------+-----------------+------------------------+------------+------------+--------------+---------+--------------+-----+--------------------------+--------------+----------------------------------------------+------------------------------------+-----------------+------------------------------------------+---------------------------------------------+------------+--------------+----------------+-------------------------+------------------------------------+-------------------------+------------------------------------+--------------------+--------------------------------------+--------------------------------+---------------------------------+--------------------+----------------+
|Anos desde a última promoção|Anos trabalhados na função atual|Anos trabalhando com o atual gestor|               Cargo|Demissão|        Departamento|Distância de Casa|Diárias recebidas|Equilíbrio vida trabalho|Escolaridade|Estado civil|Faz hora extra|   Gênero|ID Funcionário|Idade|Jornada padrão de trabalho|Maior de idade|Nível de Satisfação com o ambiente de trabalho|Nível de envolvimento com o trabalho|Nível hierárquico|Número de contratos de trabalho na empresa|Qtde de treinamentos realizados no último ano|Renda mensal|Salário Mensal|Salário por hora|Satisfação com o trabalho|Satisfação nas relações Não trabalho|Total de anos trabalhados|Total de anos trabalhados na empresa|  Viagem de negócios|opção de remaunração variável em ações|percentual de aumento de salário|qtde de empresas que já trabalhou|score de performance|Área de Formação|
+----------------------------+--------------------------------+-----------------------------------+--------------------+--------+--------------------+-----------------+-----------------+------------------------+------------+------------+--------------+---------+--------------+-----+--------------------------+--------------+----------------------------------------------+------------------------------------+-----------------+------------------------------------------+---------------------------------------------+------------+--------------+----------------+-------------------------+------------------------------------+-------------------------+------------------------------------+--------------------+--------------------------------------+--------------------------------+---------------------------------+--------------------+----------------+
|                           0|                               4|                                  5| Executivo de vendas|     Sim|              Vendas|                1|             1102|                       1|           2|    Solteiro|           Sim| Feminino|             1|   41|                        80|           Sim|                                             2|                                   3|                2|                                         1|                                            0|        5993|         19479|              94|                        4|                                   1|                        8|                                   6|     Viaja raramente|                                     0|                              11|                                8|                   3|Ciências Humanas|
|                           1|                               7|                                  7|Pesquisador cient...|     Não|Pesquisa e Desenv...|                8|              279|                       3|           1|      Casado|           Não|Masculino|             2|   49|                        80|           Sim|                                             3|                                   2|                2|                                         1|                                            3|        5130|         24907|              61|                        2|                                   4|                       10|                                  10|Viaja frequentemente|                                     1|                              23|                                1|                   4|Ciências Humanas|
|                           0|                               0|                                  0|Técnico de Labora...|     Sim|Pesquisa e Desenv...|                2|             1373|                       3|           2|    Solteiro|           Sim|Masculino|             4|   37|                        80|           Sim|                                             4|                                   2|                1|                                         1|                                            3|        2090|          2396|              92|                        3|                                   2|                        7|                                   0|     Viaja raramente|                                     0|                              15|                                6|                   3|          Outras|
|                           3|                               7|                                  0|Pesquisador cient...|     Não|Pesquisa e Desenv...|                3|             1392|                       3|           4|      Casado|           Sim| Feminino|             5|   33|                        80|           Sim|                                             4|                                   3|                1|                                         1|                                            3|        2909|         23159|              56|                        3|                                   3|                        8|                                   8|Viaja frequentemente|                                     0|                              11|                                1|                   3|Ciências Humanas|
|                           2|                               2|                                  2|Técnico de Labora...|     Não|Pesquisa e Desenv...|                2|              591|                       3|           1|      Casado|           Não|Masculino|             7|   27|                        80|           Sim|                                             1|                                   3|                1|                                         1|                                            3|        3468|         16632|              40|                        2|                                   4|                        6|                                   2|     Viaja raramente|                                     1|                              12|                                9|                   3|Ciências Médicas|
|                           3|                               7|                                  6|Técnico de Labora...|     Não|Pesquisa e Desenv...|                2|             1005|                       2|           2|    Solteiro|           Não|Masculino|             8|   32|                        80|           Sim|                                             4|                                   3|                1|                                         1|                                            2|        3068|         11864|              79|                        4|                                   3|                        8|                                   7|Viaja frequentemente|                                     0|                              13|                                0|                   3|Ciências Humanas|
|                           0|                               0|                                  0|Técnico de Labora...|     Não|Pesquisa e Desenv...|                3|             1324|                       2|           3|      Casado|           Sim| Feminino|            10|   59|                        80|           Sim|                                             3|                                   4|                1|                                         1|                                            3|        2670|          9964|              81|                        1|                                   1|                       12|                                   1|     Viaja raramente|                                     3|                              20|                                4|                   4|Ciências Médicas|
|                           0|                               0|                                  0|Técnico de Labora...|     Não|Pesquisa e Desenv...|               24|             1358|                       3|           1|  Divorciado|           Não|Masculino|            11|   30|                        80|           Sim|                                             4|                                   3|                1|                                         1|                                            2|        2693|         13335|              67|                        3|                                   2|                        1|                                   1|     Viaja raramente|                                     1|                              22|                                1|                   4|Ciências Humanas|
|                           1|                               7|                                  8|Diretor de manufa...|     Não|Pesquisa e Desenv...|               23|              216|                       3|           3|    Solteiro|           Não|Masculino|            12|   38|                        80|           Sim|                                             4|                                   2|                3|                                         1|                                            2|        9526|          8787|              44|                        3|                                   2|                       10|                                   9|Viaja frequentemente|                                     0|                              21|                                0|                   4|Ciências Humanas|
|                           7|                               7|                                  7|Reprentante de saúde|     Não|Pesquisa e Desenv...|               27|             1299|                       2|           3|      Casado|           Não|Masculino|            13|   36|                        80|           Sim|                                             3|                                   3|                2|                                         1|                                            3|        5237|         16577|              94|                        3|                                   2|                       17|                                   7|     Viaja raramente|                                     2|                              13|                                6|                   3|Ciências Médicas|
|                           0|                               4|                                  3|Técnico de Labora...|     Não|Pesquisa e Desenv...|               16|              809|                       3|           3|      Casado|           Não|Masculino|            14|   35|                        80|           Sim|                                             1|                                   4|                1|                                         1|                                            5|        2426|         16479|              84|                        2|                                   3|                        6|                                   5|     Viaja raramente|                                     1|                              13|                                0|                   3|Ciências Médicas|
|                           0|                               5|                                  8|Técnico de Labora...|     Não|Pesquisa e Desenv...|               15|              153|                       3|           2|    Solteiro|           Sim| Feminino|            15|   29|                        80|           Sim|                                             4|                                   2|                2|                                         1|                                            3|        4193|         12682|              49|                        3|                                   4|                       10|                                   9|     Viaja raramente|                                     0|                              12|                                0|                   3|Ciências Humanas|
|                           4|                               2|                                  3|Pesquisador cient...|     Não|Pesquisa e Desenv...|               26|              670|                       2|           1|  Divorciado|           Não|Masculino|            16|   31|                        80|           Sim|                                             1|                                   3|                1|                                         1|                                            1|        2911|         15170|              31|                        3|                                   4|                        5|                                   5|     Viaja raramente|                                     1|                              17|                                1|                   3|Ciências Humanas|
|                           1|                               2|                                  2|Técnico de Labora...|     Não|Pesquisa e Desenv...|               19|             1346|                       3|           2|  Divorciado|           Não|Masculino|            18|   34|                        80|           Sim|                                             2|                                   3|                1|                                         1|                                            2|        2661|          8758|              93|                        4|                                   3|                        3|                                   2|     Viaja raramente|                                     1|                              11|                                0|                   3|Ciências Médicas|
|                           0|                               2|                                  3|Técnico de Labora...|     Sim|Pesquisa e Desenv...|               24|              103|                       3|           3|    Solteiro|           Sim|Masculino|            19|   28|                        80|           Sim|                                             3|                                   2|                1|                                         1|                                            4|        2028|         12947|              93|                        3|                                   2|                        6|                                   4|     Viaja raramente|                                     0|                              14|                                5|                   3|Ciências Humanas|
|                           8|                               9|                                  8|Diretor de manufa...|     Não|Pesquisa e Desenv...|               21|             1389|                       3|           4|  Divorciado|           Não| Feminino|            20|   29|                        80|           Sim|                                             2|                                   4|                3|                                         1|                                            1|        9980|         10195|              51|                        1|                                   3|                       10|                                  10|     Viaja raramente|                                     1|                              11|                                1|                   3|Ciências Humanas|
|                           0|                               2|                                  5|Pesquisador cient...|     Não|Pesquisa e Desenv...|                5|              334|                       2|           2|  Divorciado|           Sim|Masculino|            21|   32|                        80|           Sim|                                             1|                                   4|                1|                                         1|                                            5|        3298|         15053|              80|                        2|                                   4|                        7|                                   6|     Viaja raramente|                                     2|                              12|                                0|                   3|Ciências Humanas|
|                           0|                               0|                                  0|Técnico de Labora...|     Não|Pesquisa e Desenv...|               16|             1123|                       2|           2|  Divorciado|           Sim|Masculino|            22|   22|                        80|           Sim|                                             4|                                   4|                1|                                         1|                                            2|        2935|          7324|              96|                        4|                                   2|                        1|                                   1|           Não Viaja|                                     2|                              13|                                1|                   3|Ciências Médicas|
|                           3|                               8|                                  7|             Gerente|     Não|              Vendas|                2|             1219|                       3|           4|      Casado|           Não| Feminino|            23|   53|                        80|           Sim|                                             1|                                   2|                4|                                         1|                                            3|       15427|         22021|              78|                        4|                                   3|                       31|                                  25|     Viaja raramente|                                     0|                              16|                                2|                   3|Ciências Humanas|
|                           1|                               2|                                  2|Pesquisador cient...|     Não|Pesquisa e Desenv...|                2|              371|                       3|           3|    Solteiro|           Sim|Masculino|            24|   38|                        80|           Sim|                                             4|                                   3|                1|                                         1|                                            3|        3944|          4306|              45|                        4|                                   3|                        6|                                   3|     Viaja raramente|                                     0|                              11|                                5|                   3|Ciências Humanas|

In [ ]:
data = {
    'nome': ['Ana', 'João', 'Maria', 'Ana', 'João', 'Maria', 'Ana'],
    'compras': [150, 200, 300, 100, 250, 400, 50]
}

dfpd = pd.DataFrame(data)
#Exibindo o DataFrame Original
print("DataFrame Original")
display(dfpd)

#Agrupando por nome e somando o total de compras por pessoa
dfpd_agrupado = dfpd.groupby('nome')['compras'].sum().reset_index()
#Exibindo o DataFrame Agrupado
print("DataFrame Agrupado")
display(dfpd_agrupado)

DataFrame Original

    nome  compras
0    Ana      150
1   João      200
2  Maria      300
3    Ana      100
4   João      250
5  Maria      400
6    Ana       50

DataFrame Agrupado

nome
Ana      300
João     450
Maria    700
Name: compras, dtype: int64