## Criando as tabelas

**Preechendo as Tabelas**
https://www.mockaroo.com/

In [ ]:
# Criando Tabela DEPARTAMENTO

-- DEPARTAMENTO (numdepto(pk), nome)
-- EMPREGADO (matricula(pk), nome, salario, numdepto(fk))

CREATE TABLE IF NOT EXISTS DEPARTAMENTO(
  numdepto INT AUTO_INCREMENT,
  nome_depatamento VARCHAR(60),
  CONSTRAINT departamento_PK PRIMARY KEY (numdepto)
);

Drop TABLE DEPARTAMENTO

insert into DEPARTAMENTO (nome_depatamento) values ('Treinamento internor');
insert into DEPARTAMENTO (nome_depatamento) values ('Recursos Humanos');
insert into DEPARTAMENTO (nome_depatamento) values ('Desenvolvimento de Negócios');
insert into DEPARTAMENTO (nome_depatamento) values ('Marketing');
insert into DEPARTAMENTO (nome_depatamento) values ('Pesquisa e Desenvolvimento');
insert into DEPARTAMENTO (nome_depatamento) values ('Vendas');
insert into DEPARTAMENTO (nome_depatamento) values ('Serviços');
insert into DEPARTAMENTO (nome_depatamento) values ('Gerenciamento de Produtos');
insert into DEPARTAMENTO (nome_depatamento) values ('Engenharia');
insert into DEPARTAMENTO (nome_depatamento) values ('Financeiro');
insert into DEPARTAMENTO (nome_depatamento) values ('Tecnologia');
insert into DEPARTAMENTO (nome_depatamento) values ('Training & Estagiáros');

SELECT * from DEPARTAMENTO

In [ ]:
# Criando Tabela EMPREGADO

CREATE TABLE IF NOT EXISTS EMPREGADO(
  matricula INT AUTO_INCREMENT,
  nome_funcionario VARCHAR(70) NOT NULL,
  salario DECIMAL (10,2),
  numdepto INT,
  -- CHAVE PRIMÁRIA
  CONSTRAINT empregado_PK PRIMARY KEY (matricula),
  -- CHAVE ESTRANGEIRA
  CONSTRAINT empregado_FK FOREIGN KEY (numdepto) REFERENCES DEPARTAMENTO (numdepto)
);

insert into EMPREGADO (nome_funcionario , salario, numdepto) values ('Bill', 2162.65, 5);
, ('Loydie', 17447.17, 8)
, ('Hattie', 9911.64, 10)
, ('Corabel', 2239.27, 10)
, ('Kip', 9722.33, 9)
, ('Raynor', 4027.3, 3)
, ('Marnia', 16191.18, 10)
, ('Clair', 11923.36, 8)
, ('Elenore', 1836.24, 9)
, ('Em', 18907.29, 1)
, ('Antoni', 2243.74, 9); # tem mais no banco de dados aqui e uma amostra.

SELECT * from EMPREGADO

SyntaxError: invalid syntax (<ipython-input-2-facb37deb822>, line 3)

In [ ]:
# Criando Tabela PROJETO
-- PROJETO(numproj, nome, lugar)
CREATE TABLE IF NOT EXISTS PROJETO(
  numproj INT AUTO_INCREMENT,
  nome VARCHAR(30),
  lugar VARCHAR(40),
  -- CHAVE PRIMÁRIA
  CONSTRAINT projeto_PK PRIMARY KEY (numproj)
);

insert into PROJETO (nome, lugar) values ('Trencher', 'San Isidro');
insert into PROJETO (nome, lugar) values ('Excavator', 'Augusta');
insert into PROJETO (nome, lugar) values ('Grader', 'Qukuhu');
insert into PROJETO (nome, lugar) values ('Skid-Steer', 'Ash Shaykh Zuwayd');
insert into PROJETO (nome, lugar) values ('Trencher', 'Cape Town');
insert into PROJETO (nome, lugar) values ('Bulldozer', 'Timaru');
insert into PROJETO (nome, lugar) values ('Scraper', 'Hāgere Hiywet');
insert into PROJETO (nome, lugar) values ('Dragline', 'Bagikkedok Lauk');
insert into PROJETO (nome, lugar) values ('Backhoe', 'Pedregal');
insert into PROJETO (nome, lugar) values ('Skid-Steer', 'Notodden');

In [ ]:
# Criando Tabela TRABALHA

-- TRABALHA (matricula_emp, numproj, horas)
CREATE TABLE IF NOT EXISTS TRABALHA(
  matricula_emp INT,
  numproj INT,
  horas VARCHAR(10),
  -- CRIAR UMA CHAVE PRIMÁRIA COMPOSTA POR DUAS CHAVES ESTRANGEIRA
  CONSTRAINT trabalha_PK PRIMARY KEY(matricula_emp,numproj),
  -- CHAVE ESTRANGEIRA
  CONSTRAINT trabalha_empregado_FK FOREIGN KEY (matricula_emp) REFERENCES EMPREGADO (matricula),
  CONSTRAINT trabalha_projeto_FK FOREIGN KEY (numproj) REFERENCES PROJETO (numproj)
);

INSERT INTO TRABALHA(matricula_emp, numproj, horas) VALUES
(10, 1, 40),
(25, 1, 60),
(15, 2, 10);

## USANDO AS TABELAS

In [ ]:
# LISTAR A MATRICULA, NOME E O SALARIO DE TODOS OS DEPARTAMENTOS
SELECT * FROM EMPREGADO
SELECT matricula, nome_funcionario, salario FROM EMPREGADO;

In [ ]:
# LISTAR TODOS OS DADOS DO EMPREGADO, JUNTANDO COM O NOME DO DEPARTAMENTO
SELECT
  e.matricula,
  e.nome_funcionario as nome_empregado1,
  e.salario,
  e.numdepto,
  d.nome_depatamento as nome_departamento
FROM
  EMPREGADO  e
JOIN
  DEPARTAMENTO d
ON
  e.numdepto = d.numdepto

In [ ]:
# SEM O ALIAS
SELECT
  EMPREGADO.matricula,
  EMPREGADO.nome_funcionario as nome_empregado,
  EMPREGADO.salario,
  EMPREGADO.numdepto,
  DEPARTAMENTO.nome_depatamento as nome_departamento
FROM
  EMPREGADO
JOIN
  DEPARTAMENTO
ON
  EMPREGADO.numdepto = DEPARTAMENTO.numdepto

In [ ]:
# CLÁUSULA WHERE (OPERADORES RELACIONAIS, OPERADORES LÓGICOS)

-- LISTAR NOME, SALARIO DOS EMPREGADOS DO DEPARTAMENTO 10
SELECT nome_funcionario, salario, numdepto FROM EMPREGADO WHERE numdepto=10

-- LISTAR NOME, SALARIO DOS EMPREGADOS DO DEPARTAMENTO 10, APENAS DE QUEM GANHA ACIMA DE 6000
SELECT nome_funcionario, salario, numdepto FROM EMPREGADO WHERE numdepto=1 AND salario>=6000

In [ ]:
# Criando VIEW
CREATE VIEW vw_empregado_departamento AS
SELECT
  e.matricula,
  e.nome_funcionario as nome_empregado,
  e.salario,
  e.numdepto,
  d.nome_depatamento as nome_departamento
FROM
  EMPREGADO  e
JOIN
  DEPARTAMENTO d
ON
  e.numdepto = d.numdepto