##**Introdução ao Python**##

#Batismo da Linguagem#

In [ ]:
print("Hello, World!")

Hello, World!

# 1 - Variáveis#

In [ ]:
#Inteiros
x = 5
y = 99
resultado = 100

print(x, type(x))
print(y, type(y))
print(resultado, type(gato))

#Float
pi = 3.14
e = 2.718

print(pi, type(pi))
print(e, type(e))


#String (texto)
nome = "Adriano Gomes"
cidade = "Mossoró-RN"
print(nome, type(nome))

#Booleanos (true, false)
status = True
situacao = False
print(status, type(status))

5 <class 'int'>
99 <class 'int'>

NameError: name 'gato' is not defined

#2 - Operadores#

**Matemáticos**

In [ ]:
a = 15
b = 2
print("Soma: ", a + b)
print("Subtração: ", a - b)
print("Multiplicação: ", a * b)
print("Divisão: ", a / b)
print("Divisão Inteira: ", a // b)
print("Resto da Divisão: ", a % b)
print("Exponenciação: ", a ** b)

Soma:  17
Subtração:  13
Multiplicação:  30
Divisão:  7.5
Divisão Inteira:  7
Resto da Divisão:  1
Exponenciação:  225

In [ ]:
# Solicitar dos dados do usuário
a = int(input("Digite o valor de a: "))
b = int(input("Digite o valor de b: "))
c = float(input("Digite o valor de c: "))

print(c, type(c))

# Saídas com as operações
print("Soma: ", a + b)
print("Subtração: ", a - b)
print("Multiplicação: ", a * b)
print("Divisão: ", a / b)
print("Divisão Inteira: ", a // b)
print("Resto da Divisão: ", a % b)
print("Exponenciação: ", a ** b)

Digite o valor de a: 99
Digite o valor de b: 99
Digite o valor de c: 99
99.0 <class 'float'>
Soma:  198
Subtração:  0
Multiplicação:  9801
Divisão:  1.0
Divisão Inteira:  1
Resto da Divisão:  0
Exponenciação:  369729637649726772657187905628805440595668764281741102430259972423552570455277523421410650010128232727940978889548326540119429996769494359451621570193644014418071060667659301384999779999159200499899

In [ ]:
cliente = "Douglas" # em python string. Em teoria estatística (variável qualitativa ou categórica)
type(cliente)
idade = 35 # em python inteiro(int). Em teoria estatística (variável quantitativa discreta)
type(idade)
altura = 1.58 # em python float. Em teoria estatística (variável quantitativa continua)

int

**Comparação**

In [ ]:
a = 10
b = 5
print(a > b) # maior que
print(a < b) # menor que
print( a == b) # igual
print(a != b) # diferente
print( a >= b) # maior ou igual a
print(a <= b) # menor ou igual a

True
False
False
True
True
False
True

**Lógico**

In [ ]:
# Operador AND (e lógico) - só emite verdadeiro de ambos os casos forem TRUE
x = 70
y = 50
k = 51

print ((x > y) and (y >= k) and (k < x))

False

In [ ]:
# Operador OR (ou lógico) - emite verdadeiro se existir ao menos um TRUE
x = 70
y = 50
k = 151

print ((x < y) or (y >= k) or (k > x))

print (((x > y) or (y >= k)) and (k > x))

True
True

In [ ]:
#Operador NOT (não lógico) - inverte o valor booleano da variável
a = 10
b = 5
resultado = a < b

# print(not resultado)

x = True
y = False
k = True
# Combinação de and, or e not
print(not((x and y) or (not y and k)))

False

##Estruturas Condicionais##

**Condicionais Simples**

In [ ]:
idade = 18

if (idade >= 18):
  print("Você é maior de idade")

Você é maior de idade

**Condicionais Composta**

In [ ]:
idade = 15

if (idade >= 18):
  print("Você é maior de idade")
else:
  print("Você é menor de idade")

Você é menor de idade

**Condicionais Encadeadas**

In [ ]:
# Criança até 12 anos
# Adolescente de 13 a 17 anos
# Adulto 18 a 59 anos
# Idoso acima de 60 anos
idade = int(input("Digite sua idade: "))
# Verificar e classificar a faixa etária
if (idade >= 0 and idade <= 12):
  print("Criança")
elif(idade >=13 and idade <=17):
  print("Adolescente")
elif(idade >= 18 and idade <= 59):
  print("Adulto")
elif (idade >= 60 and idade <= 130):
  print("Idoso")
else:
  print("Idade Inválida")

Digite sua idade: 500
Idade Inválida

In [ ]:
# Criança até 12 anos
# Adolescente de 13 a 17 anos
# Adulto 18 a 59 anos
# Idoso acima de 60 anos
idade = int(input("Digite sua idade: "))
# Verificar e classificar a faixa etária
if 0 <= idade <= 12:
  print("Criança")
elif 13 <= idade <=17:
  print("Adolescente")
elif 18 <= idade <= 59:
  print("Adulto")
elif 60 <= idade <= 130:
  print("Idoso")
else:
  print("Idade Inválida")

In [ ]:
valor = 100
resultado = valor + (valor * 0.25)
print(resultado)

125.0

##Estrutura de Repetição##

**For**

In [ ]:
# Iteração sobre listas
        #   0         1         2       3
frutas = ["maçã", "banana", "cereja", "uva"]
print(frutas)
for x in frutas:
  print(x)

['maçã', 'banana', 'cereja', 'uva']

In [ ]:
# Usando range

for i in range(11):
  print(i)

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
#Iteração sobre caracteres de uma string
mensagem = "Hello, world!"

for caractere in mensagem:
  print(caractere)

H
e
l
l
o
,

w
o
r
l
d
!

##String##

É um tipo de dado (fundamental) que representa uma sequência de caracteres.

texto = "Hello"
indice
  0   1   2   3  4
[(H) (e) (l) (l) (o)      world]

**While**

In [ ]:
contador = 0
while(contador < 10):
  print(contador)
  contador += 1

0
1
2
3
4
5
6
7
8
9

In [ ]:
x = 6
x+=3 # x = 6 + 3
x*=5 # x = 9 * 5
print(x)

45

In [ ]:
senha = "12"
while senha != "12345":
  senha = input("Digite a senha correta: ")
  if senha == "12345":
    print("Acesso Autorizado!")
  else:
    print("senha incorreta, tente novamente!")

Digite a senha correta: 12313
senha incorreta, tente novamente!
Digite a senha correta: 54654
senha incorreta, tente novamente!
Digite a senha correta: 12345
Acesso Autorizado!

In [ ]:
senha_correta = "1234"
tentativas_maximas = 3
contar_tentativas = 0

while contar_tentativas < tentativas_maximas:
  senha = input("Digite a senha:")
  if senha == senha_correta:
    print("Acesso Autorizado")
    break
  else:
    contar_tentativas +=1
    if contar_tentativas < tentativas_maximas:
      # print(f"Senha incorreta, tente novamente. Você tem {tentativas_maximas - contar_tentativas} tentativas restantes.")
      tentativas_restante = tentativas_maximas - contar_tentativas
      print("Senha incorreta, tente novamente. Você tentou {} vezes e resta apenas {} tentativas".format(contar_tentativas, tentativas_restante))
    else:
      print("Número máximo de tentativas atingido. Acesso Bloqueado")

Digite a senha:123
Senha incorreta, tente novamente. Você tentou 1 vezes e resta apenas 2 tentativas
Digite a senha:123
Senha incorreta, tente novamente. Você tentou 2 vezes e resta apenas 1 tentativas
Digite a senha:1234
Acesso Autorizado